In [1]:
import polars as pl
import numpy as np
from tqdm import tqdm
from scipy.sparse import csr_matrix
import implicit
import pandas as pd
from sklearn.preprocessing import LabelEncoder
labelencoder = LabelEncoder()
RANDOM_STATE = 42
N_PREDICTIONS = 100

/opt/homebrew/lib/python3.11/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [2]:
from sklearn.model_selection import train_test_split
from sklearn.neighbors import NearestNeighbors

In [3]:
df_vacancies = pd.read_csv('/Users/anastasiakucina/hahaha/vacancies_ru.csv')
df_vacancies.head()

,Unnamed: 0,vacancy_id,name,company_id,keySkills,compensation_from,compensation_to,compensation_currencyCode,area_id,area_regionId,employment,workSchedule,workExperience,clean_name,area_regionId_encoder,area_id_encoder,company_id_encoder,employment_encoder,workSchedule_encoder,workExperience_encoder
0,0,v_862116,Смотритель музейный,c_162972,"['Пользователь ПК', 'Работа в команде', 'Умени...",16500.0,NaN,RUR,a_4761,ar_33,full,fullDay,noExperience,Смотритель музейный,32,4181,69972,5,5,1
1,1,v_288642,Ведущий менеджер по работе с физическими лицами,c_208672,"['Активные продажи', 'Холодные продажи', 'Кред...",50000.0,NaN,RUR,a_744,ar_2,full,fullDay,noExperience,Ведущий менеджер по работе с физическими лицами,17,6731,120750,5,5,1
2,2,v_1840054,Бухгалтер (по расчету зарплаты),c_198109,NaN,50000.0,65000.0,RUR,a_6223,ar_78,full,fullDay,between3And6,Бухгалтер,81,5806,109013,5,5,3
3,3,v_2346232,"Пекарь (Токсово, Привокзальная, 16)",c_6137,NaN,38500.0,42000.0,RUR,a_4795,ar_51,full,fullDay,noExperience,Пекарь,52,4218,235992,5,5,1
4,4,v_312507,Торговый представитель (г. Абакан),c_206699,"['Продуктивность', 'Клиентоориентированность',...",60000.0,NaN,RUR,a_6837,ar_4,full,fullDay,between1And3,Торговый представитель,39,6487,118557,5,5,2

In [4]:
df_vacancies_final = df_vacancies[['vacancy_id', 'area_regionId_encoder', 'area_id_encoder', 'company_id_encoder', 'employment_encoder', 'workSchedule_encoder', 'workExperience_encoder', 'compensation_from']]
df_vacancies_final.head()

,vacancy_id,area_regionId_encoder,area_id_encoder,company_id_encoder,employment_encoder,workSchedule_encoder,workExperience_encoder,compensation_from
0,v_862116,32,4181,69972,5,5,1,16500.0
1,v_288642,17,6731,120750,5,5,1,50000.0
2,v_1840054,81,5806,109013,5,5,3,50000.0
3,v_2346232,52,4218,235992,5,5,1,38500.0
4,v_312507,39,6487,118557,5,5,2,60000.0

In [5]:
train = pd.read_csv('/Users/anastasiakucina/hahaha/train_test.csv')
train.head()

,Unnamed: 0,user_id,session_id,vacancy_id,action_type,action_dt,clear_vacancy_id
0,0,u_482520,s_25018731,"['v_2597196', 'v_1223061', 'v_1223061']","[2, 2, 1]","[1700395393089, 1700395410396, 1700395503473]","['v_2597196', 'v_1223061', 'v_1223061']"
1,2,u_212584,s_16918781,"['v_1572055', 'v_1572055', 'v_1572055', 'v_953...","[2, 3, 2, 2, 1, 2, 2, 1, 2, 1, 2, 1]","[1700124107031, 1700124321403, 1700124426230, ...","['v_1572055', 'v_1572055', 'v_1572055', 'v_953..."
2,3,u_425177,s_17505104,"['v_1375331', 'v_1922852']","[2, 2]","[1700224938513, 1700225032744]","['v_1375331', 'v_1922852']"
3,4,u_700997,s_15528830,"['v_2152997', 'v_2152997', 'v_1217630']","[2, 1, 2]","[1700155373530, 1700155399885, 1700155413472]","['v_2152997', 'v_2152997', 'v_1217630']"
4,13,u_186164,s_34273595,"['v_2674644', 'v_2558182']","[2, 2]","[1700483122760, 1700483363810]","['v_2674644', 'v_2558182']"

In [6]:
df_vacancies_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2209572 entries, 0 to 2209571
Data columns (total 8 columns):
 #   Column                  Dtype
---  ------                  -----
 0   vacancy_id              object
 1   area_regionId_encoder   int64
 2   area_id_encoder         int64
 3   company_id_encoder      int64
 4   employment_encoder      int64
 5   workSchedule_encoder    int64
 6   workExperience_encoder  int64
 7   compensation_from       float64
dtypes: float64(1), int64(6), object(1)
memory usage: 134.9+ MB

In [7]:
def str_to_list(row):
    return eval(row)

In [8]:
train['vacancy_id_list'] = train['vacancy_id'].apply(str_to_list)
train['action_type_list'] = train['action_type'].apply(str_to_list)
train.head()

,Unnamed: 0,user_id,session_id,vacancy_id,action_type,action_dt,clear_vacancy_id,vacancy_id_list,action_type_list
0,0,u_482520,s_25018731,"['v_2597196', 'v_1223061', 'v_1223061']","[2, 2, 1]","[1700395393089, 1700395410396, 1700395503473]","['v_2597196', 'v_1223061', 'v_1223061']","[v_2597196, v_1223061, v_1223061]","[2, 2, 1]"
1,2,u_212584,s_16918781,"['v_1572055', 'v_1572055', 'v_1572055', 'v_953...","[2, 3, 2, 2, 1, 2, 2, 1, 2, 1, 2, 1]","[1700124107031, 1700124321403, 1700124426230, ...","['v_1572055', 'v_1572055', 'v_1572055', 'v_953...","[v_1572055, v_1572055, v_1572055, v_953153, v_...","[2, 3, 2, 2, 1, 2, 2, 1, 2, 1, 2, 1]"
2,3,u_425177,s_17505104,"['v_1375331', 'v_1922852']","[2, 2]","[1700224938513, 1700225032744]","['v_1375331', 'v_1922852']","[v_1375331, v_1922852]","[2, 2]"
3,4,u_700997,s_15528830,"['v_2152997', 'v_2152997', 'v_1217630']","[2, 1, 2]","[1700155373530, 1700155399885, 1700155413472]","['v_2152997', 'v_2152997', 'v_1217630']","[v_2152997, v_2152997, v_1217630]","[2, 1, 2]"
4,13,u_186164,s_34273595,"['v_2674644', 'v_2558182']","[2, 2]","[1700483122760, 1700483363810]","['v_2674644', 'v_2558182']","[v_2674644, v_2558182]","[2, 2]"

In [9]:
df_vacancy_id = train[['user_id', 'vacancy_id_list']].explode('vacancy_id_list')
df_pairs = train[['user_id', 'action_type_list']].explode('action_type_list')
df_pairs

        user_id action_type_list
0      u_482520                2
0      u_482520                2
0      u_482520                1
1      u_212584                2
1      u_212584                3
...         ...              ...
38578  u_847738                2
38578  u_847738                1
38578  u_847738                2
38578  u_847738                2
38578  u_847738                2

[199508 rows x 2 columns]

In [10]:
df_pairs['vacancy_id'] = df_vacancy_id['vacancy_id_list']
df_pairs

        user_id action_type_list vacancy_id
0      u_482520                2  v_2597196
0      u_482520                2  v_1223061
0      u_482520                1  v_1223061
1      u_212584                2  v_1572055
1      u_212584                3  v_1572055
...         ...              ...        ...
38578  u_847738                2  v_1302840
38578  u_847738                1  v_1302840
38578  u_847738                2  v_1247305
38578  u_847738                2  v_1764585
38578  u_847738                2  v_1462102

[199508 rows x 3 columns]

In [11]:
def drop_vu(row):
    return row.split('_')[1]

In [12]:
df_pairs['vacancy_id'] =  df_pairs['vacancy_id'].apply(drop_vu)
df_pairs['user_id'] = df_pairs['user_id'].apply(drop_vu)

In [13]:
df_pairs

      user_id action_type_list vacancy_id
0      482520                2    2597196
0      482520                2    1223061
0      482520                1    1223061
1      212584                2    1572055
1      212584                3    1572055
...       ...              ...        ...
38578  847738                2    1302840
38578  847738                1    1302840
38578  847738                2    1247305
38578  847738                2    1764585
38578  847738                2    1462102

[199508 rows x 3 columns]

### Train&Test KNN

In [14]:

from catboost import CatBoostClassifier, Pool

In [15]:
# Train on half of users, because of kernel;(
df_pairs_half = df_pairs[:99000]
vacancies_uniq = list(df_pairs_half['vacancy_id'].unique())

In [16]:
vacancies_uniq

['2597196',
 '1223061',
 '1572055',
 '953153',
 '1495772',
 '1033603',
 '1592343',
 '1329494',
 '1375331',
 '1922852',
 '2152997',
 '1217630',
 '2674644',
 '2558182',
 '2171209',
 '607672',
 '1401407',
 '1977347',
 '2097290',
 '2373949',
 '1529417',
 '2666974',
 '1893426',
 '1240196',
 '102362',
 '1794489',
 '125123',
 '136431',
 '2299253',
 '645319',
 '533956',
 '2220991',
 '2676265',
 '1579567',
 '381847',
 '2603095',
 '2210018',
 '125978',
 '1378565',
 '2708324',
 '2445762',
 '1881691',
 '1967337',
 '1477939',
 '1106794',
 '694434',
 '1402265',
 '1823852',
 '1298290',
 '682939',
 '1720648',
 '772446',
 '1656647',
 '1752086',
 '1572049',
 '81466',
 '742925',
 '2047167',
 '1987747',
 '285124',
 '2122905',
 '1940171',
 '22704',
 '437305',
 '676401',
 '1586276',
 '960735',
 '1921993',
 '1803280',
 '1026899',
 '1723789',
 '634398',
 '1305351',
 '505259',
 '1428978',
 '2530191',
 '1040904',
 '482905',
 '1339656',
 '2559035',
 '389728',
 '2008839',
 '1595640',
 '596382',
 '2350075',
 '497383',
 '901425',
 '1374029',
 '1620193',
 '976053',
 '225454',
 '507507',
 '1179504',
 '2039513',
 '1542685',
 '2303880',
 '518973',
 '342470',
 '2702395',
 '904377',
 '211110',
 '2700532',
 '1630818',
 '819124',
 '741575',
 '915115',
 '591870',
 '2655453',
 '59869',
 '1842278',
 '2173131',
 '2466695',
 '193797',
 '1161428',
 '352890',
 '2487710',
 '2711631',
 '621809',
 '1243437',
 '1811086',
 '2641034',
 '1564294',
 '2548722',
 '1172378',
 '272440',
 '146718',
 '369738',
 '1057552',
 '922711',
 '1326121',
 '2424150',
 '819684',
 '824076',
 '1335636',
 '2612243',
 '516813',
 '2564895',
 '1129124',
 '160096',
 '1331724',
 '440315',
 '570573',
 '1917942',
 '2654062',
 '1927239',
 '2164393',
 '1859845',
 '1191390',
 '2434033',
 '2039760',
 '1009230',
 '159742',
 '1608636',
 '701062',
 '337518',
 '333416',
 '1573130',
 '1958142',
 '2103041',
 '1401890',
 '2423267',
 '2583774',
 '2235621',
 '711546',
 '1138461',
 '1631235',
 '638252',
 '817571',
 '1960270',
 '935145',
 '2678155',
 '1759695',
 '1467839',
 '1627911',
 '1330703',
 '1992404',
 '565719',
 '1346300',
 '2386326',
 '327482',
 '2514853',
 '2693735',
 '1315032',
 '1247743',
 '1169994',
 '449237',
 '534342',
 '471236',
 '821789',
 '2665537',
 '123099',
 '2548673',
 '1846141',
 '1604300',
 '628273',
 '1821434',
 '2093855',
 '1598474',
 '1606827',
 '1519250',
 '112233',
 '525734',
 '2539391',
 '553173',
 '209422',
 '123721',
 '1343780',
 '2277509',
 '1621193',
 '2430060',
 '389616',
 '2133420',
 '2574483',
 '883730',
 '267855',
 '203588',
 '708245',
 '2396031',
 '518108',
 '568605',
 '1935172',
 '2345586',
 '973329',
 '1024380',
 '2273985',
 '583366',
 '800643',
 '650122',
 '897658',
 '523322',
 '493669',
 '355750',
 '2703835',
 '480378',
 '1287306',
 '96172',
 '1925797',
 '1816929',
 '578213',
 '2144803',
 '105761',
 '370191',
 '1606144',
 '1804642',
 '2319449',
 '2637644',
 '608886',
 '1884412',
 '2643276',
 '544215',
 '145314',
 '2592342',
 '1604984',
 '150749',
 '1258104',
 '800648',
 '2688174',
 '2085488',
 '2725704',
 '2110986',
 '1085411',
 '567578',
 '2461013',
 '1316667',
 '2101659',
 '2715024',
 '1843100',
 '1605346',
 '559892',
 '2087405',
 '2437485',
 '1966091',
 '113636',
 '2519148',
 '2068540',
 '691786',
 '2466683',
 '1729962',
 '1484434',
 '828143',
 '1332208',
 '1138444',
 '1552601',
 '658132',
 '203694',
 '250433',
 '1791531',
 '1113286',
 '360478',
 '1201197',
 '1197027',
 '1270118',
 '2268342',
 '1607756',
 '1066163',
 '1298801',
 '2549421',
 '32310',
 '11425',
 '757328',
 '1452330',
 '2669935',
 '649423',
 '232814',
 '856242',
 '946875',
 '1810530',
 '1843740',
 '2265628',
 '1746602',
 '1772727',
 '1387669',
 '278378',
 '362983',
 '154450',
 '1374454',
 '2711151',
 '485908',
 '543813',
 '1940211',
 '595553',
 '1478279',
 '2427345',
 '1361269',
 '1856866',
 '1189553',
 '825239',
 '72256',
 '2058672',
 '1872340',
 '1511829',
 '1932260',
 '1399386',
 '887386',
 '67531',
 '918202',
 '593620',
 '307918',
 '1139650',
 '1045152',
 '20979',
 '2437565',
 '1032185',
 '1218667',
 '2631313',
 '484316',
 '496152',
 '2619050',
 '1320479',
 '1552195',
 '2456969',
 '735199',
 '864213',
 '958322',
 '2298026',
 '1831965',
 '2355912',
 '1813131',
 '1458853',
 '554177',
 '2623115',
 '2670550',
 '1742483',
 '2313432',
 '1746360',
 '1311119',
 '2096259',
 '777606',
 '120071',
 '1053635',
 '2046432',
 '559619',
 '77102',
 '2512902',
 '2164491',
 '685216',
 '1639649',
 '2069460',
 '48180',
 '958456',
 '2709214',
 '1306787',
 '1877863',
 '104270',
 '1152956',
 '1228978',
 '1720023',
 '2046418',
 '795044',
 '142604',
 '2716012',
 '1975660',
 '1192497',
 '1551415',
 '542188',
 '1103414',
 '2127777',
 '2404294',
 '937904',
 '2099622',
 '1414337',
 '1295832',
 '587283',
 '1161528',
 '1302830',
 '2632396',
 '2464046',
 '1880508',
 '2669776',
 '2001669',
 '2178578',
 '2585500',
 '1708052',
 '1997673',
 '1653255',
 '730847',
 '1277408',
 '700063',
 '2346403',
 '1040620',
 '27838',
 '2109089',
 '2520217',
 '930387',
 '473717',
 '1559618',
 '2027073',
 '962522',
 '1185246',
 '1866976',
 '921979',
 '377553',
 '336765',
 '368927',
 '581246',
 '2076888',
 '616084',
 '1960595',
 '1424049',
 '577459',
 '1846165',
 '458983',
 '1623883',
 '1883731',
 '1247283',
 '762560',
 '1757112',
 '211117',
 '1153072',
 '1843066',
 '923639',
 '970699',
 '794786',
 '2196805',
 '1142647',
 '1816732',
 '1490578',
 '216703',
 '1389608',
 '866041',
 '1800541',
 '1243703',
 '661214',
 '753654',
 '1548920',
 '1264790',
 '2241497',
 '2306259',
 '1480620',
 '1072388',
 '1082035',
 '1160795',
 '1156304',
 '2190139',
 '1418494',
 '2364028',
 '147254',
 '637917',
 '1055986',
 '899816',
 '1489797',
 '938089',
 '1770885',
 '2322199',
 '2217622',
 '1375570',
 '2832',
 '2613143',
 '1685139',
 '1299832',
 '1766947',
 '2031125',
 '2724584',
 '2698742',
 '209502',
 '991301',
 '2297666',
 '200141',
 '2208899',
 '2366942',
 '1730783',
 '2539410',
 '2264517',
 '1271830',
 '275080',
 '613730',
 '2542770',
 '828591',
 '1257151',
 '619567',
 '748996',
 '1542452',
 '1514466',
 '976493',
 '933787',
 '1528108',
 '266751',
 '442255',
 '1059149',
 '561397',
 '1932043',
 '1885758',
 '1422243',
 '255117',
 '1414399',
 '999583',
 '343724',
 '2477803',
 '2053736',
 '2118444',
 '1190480',
 '831652',
 '1474944',
 '2445847',
 '967010',
 '1223526',
 '2094772',
 '933818',
 '2405155',
 '1965676',
 '1948378',
 '599170',
 '563203',
 '1841666',
 '635894',
 '1433699',
 '1588612',
 '2117713',
 '500240',
 '679363',
 '2501044',
 '2391329',
 '2215873',
 '735227',
 '1955812',
 '1494569',
 '1135073',
 '1549106',
 '673337',
 '1660113',
 '249663',
 '1650473',
 '469962',
 '2011299',
 '2586497',
 '68161',
 '1839500',
 '182178',
 '1883061',
 '729788',
 '1766940',
 '636162',
 '2094485',
 '62758',
 '338018',
 '1795442',
 '643529',
 '2079567',
 '725336',
 '907495',
 '2532107',
 '2403977',
 '2503456',
 '622501',
 '69561',
 '1954453',
 '1765981',
 '2661978',
 '212834',
 '1938790',
 '2541978',
 '152266',
 '612976',
 '638600',
 '1863874',
 '83093',
 '2035614',
 '1120928',
 '137864',
 '1741916',
 '1738376',
 '1916871',
 '2134433',
 '1336540',
 '427728',
 '764415',
 '490512',
 '2362184',
 '1065432',
 '482399',
 '2672087',
 '2468626',
 '1701689',
 '376660',
 '2426520',
 '1923996',
 '122276',
 '2416691',
 '2592728',
 '1491986',
 '1882899',
 '1701469',
 '1280498',
 '243759',
 '2476700',
 '2733619',
 '788012',
 '914010',
 '1595311',
 '623101',
 '1993737',
 '835086',
 '2401573',
 '17413',
 '129580',
 '798409',
 '2469913',
 '952586',
 '424543',
 '2676425',
 '2528280',
 '532864',
 '714235',
 '395344',
 '1280920',
 '244746',
 '1338279',
 '372824',
 '2358313',
 '2648161',
 '2731299',
 '1305875',
 '2523200',
 '1730876',
 '1416008',
 '419453',
 '1809878',
 '897990',
 '826949',
 '116852',
 '1502563',
 '661999',
 '1605474',
 '169748',
 '1840532',
 '1287831',
 '3904',
 '694284',
 '1573962',
 '2712299',
 '752367',
 '13983',
 '509043',
 '376031',
 '2151642',
 '1174723',
 '2700043',
 '1418482',
 '789379',
 '2015744',
 '1195432',
 '2277705',
 '2609318',
 '1908388',
 '1500410',
 '75904',
 '2656002',
 '514464',
 '1318911',
 '1961594',
 '909488',
 '228082',
 '1612090',
 '2139455',
 '1683618',
 '482356',
 '1785794',
 '1454762',
 '2613804',
 '1719347',
 '746566',
 '2059836',
 '2364580',
 '2005066',
 '2086859',
 '1663457',
 '2306104',
 '294991',
 '2552337',
 '1095764',
 '2435804',
 '1925843',
 '689308',
 '295050',
 '1679328',
 '50183',
 '1400477',
 '280062',
 '84873',
 '988723',
 '1822254',
 '920172',
 '1720767',
 '1749904',
 '627307',
 '2432230',
 '1232566',
 '1430637',
 '466439',
 '1519110',
 '1047422',
 '91905',
 '19541',
 '1997098',
 '2548292',
 '2234944',
 '254670',
 '2461623',
 '1710158',
 '73915',
 '1205305',
 '1667993',
 '350151',
 '1308841',
 '1567928',
 '233746',
 '2129835',
 '1393697',
 '622304',
 '2398316',
 '214565',
 '1579471',
 '563665',
 '2398313',
 '1622249',
 '2118714',
 '1305711',
 '2576201',
 '1176730',
 '1453199',
 '2205885',
 '82316',
 '1642683',
 '1287020',
 '1820799',
 '2083093',
 '900163',
 '327038',
 '1912245',
 '2641215',
 '1750311',
 '927168',
 '1438653',
 '1023474',
 '2642959',
 '1679845',
 '2726148',
 '1197656',
 '2495964',
 '2563152',
 '1646563',
 '2700269',
 '1744639',
 '82648',
 '2273248',
 '229060',
 '1976047',
 '2303829',
 '1415448',
 '1607869',
 '560491',
 '2369151',
 '1075856',
 '17591',
 '482590',
 '2032058',
 '162613',
 '2217830',
 '370930',
 '2333004',
 '1381531',
 '208865',
 '2324411',
 '1868506',
 '215852',
 '702994',
 '1485071',
 '2336430',
 '918272',
 '2521946',
 '1354484',
 '2711354',
 '169007',
 '919718',
 '2663917',
 '706217',
 '394965',
 '580809',
 '712461',
 '1836226',
 '264099',
 '1139199',
 '85660',
 '1981852',
 '2650300',
 '875132',
 '2062099',
 '580009',
 '1695718',
 '2219369',
 '46707',
 '2070921',
 '1564906',
 '1715093',
 '1714897',
 '1124622',
 '615009',
 '2573266',
 '1160794',
 '392006',
 '2295705',
 '2002663',
 '508339',
 '1074032',
 '908942',
 '1636467',
 '1981091',
 '1992670',
 '1865200',
 '461914',
 '1817345',
 '1551338',
 '1425551',
 '1932430',
 '1001006',
 '327645',
 '1166048',
 '1052282',
 '2581099',
 '2630213',
 '888304',
 '189329',
 '1294009',
 '2270300',
 '1880316',
 '307223',
 '199355',
 '1447090',
 '2037562',
 '1018410',
 '595051',
 '602072',
 '1834307',
 '2180126',
 '2418556',
 '2198771',
 '1616899',
 '1436564',
 '1949475',
 '1024422',
 '2395102',
 '1622872',
 '2067644',
 '1369412',
 '1106388',
 '1103519',
 '717308',
 '775893',
 '844383',
 '79163',
 '1214001',
 '775231',
 '1851223',
 '573712',
 '342270',
 '1447763',
 '2383080',
 '1591303',
 '2156380',
 '2702325',
 '496809',
 '929779',
 '2020101',
 '2645321',
 '977894',
 '1585031',
 '1217822',
 '484102',
 '343279',
 '408876',
 '1895428',
 '1693572',
 '1207020',
 '1308732',
 '517490',
 '1537198',
 '864227',
 '2286807',
 '2355955',
 '2070849',
 '2664408',
 '1667678',
 '2184462',
 '2217523',
 '2065655',
 '2208929',
 '2618884',
 '2563442',
 '15212',
 '1088376',
 '1489945',
 '1955092',
 '2603642',
 '1246558',
 '1156808',
 '982557',
 '152329',
 '1125716',
 '1662788',
 '1864301',
 '991371',
 '558549',
 '2501290',
 '866016',
 '272172',
 '189643',
 '1921961',
 '1129337',
 '1731948',
 '1116582',
 '1455029',
 '1638885',
 '1817105',
 '24924',
 '1697161',
 '1779102',
 '186742',
 '831663',
 '532616',
 '2668452',
 '1687903',
 '2180345',
 '402043',
 '2611181',
 '181832',
 '2660400',
 '2647569',
 '2546084',
 '668812',
 '106746',
 '559848',
 '1083445',
 '909667',
 '314593',
 '2033296',
 '1628700',
 '92060',
 '1209280',
 '440770',
 '1101693',
 '1028905',
 '2287038',
 '1197892',
 '1734213',
 '1622389',
 '1610143',
 '562722',
 '1944984',
 '1490148',
 '2557936',
 '460169',
 '1319692',
 '1165885',
 '765264',
 '1486967',
 '2027240',
 '1556067',
 '718231',
 '605061',
 '1673164',
 ...]

In [17]:
df_vacancies_final['vacancy_id'] = df_vacancies_final['vacancy_id'].apply(drop_vu)
df_vacancies_final

/var/folders/gz/46_zg8xd6qqgn1sxylfq7g8m0000gn/T/ipykernel_39616/3594289813.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_vacancies_final['vacancy_id'] = df_vacancies_final['vacancy_id'].apply(drop_vu)

,vacancy_id,area_regionId_encoder,area_id_encoder,company_id_encoder,employment_encoder,workSchedule_encoder,workExperience_encoder,compensation_from
0,862116,32,4181,69972,5,5,1,16500.0
1,288642,17,6731,120750,5,5,1,50000.0
2,1840054,81,5806,109013,5,5,3,50000.0
3,2346232,52,4218,235992,5,5,1,38500.0
4,312507,39,6487,118557,5,5,2,60000.0
...,...,...,...,...,...,...,...,...
2209567,2484959,74,4876,114733,5,2,1,40000.0
2209568,205163,71,5032,65219,5,5,2,80000.0
2209569,639897,41,842,121520,5,5,2,200000.0
2209570,1636531,62,2673,162497,5,5,1,25000.0
2209571,1689739,96,769,249127,5,5,2,25000.0

In [18]:

df_vacancies_final=df_vacancies_final.query('vacancy_id in @vacancies_uniq')

In [ ]:

# Преобразование категориальных признаков в числовые
#df_pairs_half['action_type_list'] = df_pairs_half['action_type_list'].astype('category').cat.codes

# Создание матрицы пользователь-вакансия с учетом доли каждой вакансии
user_vacancy_matrix = pd.pivot_table(df_pairs_half, values='action_type_list', index='user_id', columns='vacancy_id', fill_value=0)

# Преобразование долей вакансий в веса
user_vacancy_matrix = user_vacancy_matrix.div(user_vacancy_matrix.sum(axis=1), axis=0)

# Добавление фичей из vacancies.csv -- пока тяжеляк 
df_merged = pd.merge(df_pairs_half, df_vacancies_final, on='vacancy_id')


# Преобразование данных в формат CatBoost
cat_features = ['vacancy_id', 'area_id_encoder', 'workExperience_encoder']
train_pool = Pool(data=df_merged.drop(columns=['action_type_list']), label=df_merged['action_type_list'], cat_features=cat_features)

# Обучение модели CatBoost
model = CatBoostClassifier(iterations=100, learning_rate=0.1, loss_function='MultiClass')
model.fit(train_pool)

:

In [ ]:
pd.merge(df_pairs_half, df_vacancies_final, on='vacancy_id')

In [ ]:

# Вывод рекомендаций
for user_id, vacancies in user_vacancy_matrix.iterrows():
    user_data = df_pairs_half
    user_pool = Pool(data=user_data, cat_features=['user_id', 'vacancy_id'])
    user_predictions = model.predict(user_pool)
    recommended_vacancies = user_data.iloc[user_predictions.argmax(axis=1)]['vacancy_id']
    print(f"Для пользователя {user_id} рекомендуются вакансии с vacancy_id:", end=" ")
    print(recommended_vacancies[:5].tolist())  # Вывод не более 10 рекомендаций