In [25]:
import pandas as pd
import numpy as np
from itertools import islice

In [95]:
data = pd.read_csv('../data/vacancies_ru.csv')
data.drop('Unnamed: 0', axis=1, inplace=True)
data.head()

,vacancy_id,name,company_id,keySkills,compensation_from,compensation_to,compensation_currencyCode,area_id,area_regionId,employment,workSchedule,workExperience,clean_name,area_regionId_encoder,area_id_encoder,company_id_encoder,employment_encoder,workSchedule_encoder,workExperience_encoder
0,v_862116,Смотритель музейный,c_162972,"['Пользователь ПК', 'Работа в команде', 'Умени...",16500.0,NaN,RUR,a_4761,ar_33,full,fullDay,noExperience,Смотритель музейный,32,4181,69972,5,5,1
1,v_288642,Ведущий менеджер по работе с физическими лицами,c_208672,"['Активные продажи', 'Холодные продажи', 'Кред...",50000.0,NaN,RUR,a_744,ar_2,full,fullDay,noExperience,Ведущий менеджер по работе с физическими лицами,17,6731,120750,5,5,1
2,v_1840054,Бухгалтер (по расчету зарплаты),c_198109,NaN,50000.0,65000.0,RUR,a_6223,ar_78,full,fullDay,between3And6,Бухгалтер,81,5806,109013,5,5,3
3,v_2346232,"Пекарь (Токсово, Привокзальная, 16)",c_6137,NaN,38500.0,42000.0,RUR,a_4795,ar_51,full,fullDay,noExperience,Пекарь,52,4218,235992,5,5,1
4,v_312507,Торговый представитель (г. Абакан),c_206699,"['Продуктивность', 'Клиентоориентированность',...",60000.0,NaN,RUR,a_6837,ar_4,full,fullDay,between1And3,Торговый представитель,39,6487,118557,5,5,2

In [96]:
data['keySkills'] = data['keySkills'].str.strip('[]')
data['keySkills'] = data['keySkills'].str.split(',')

In [97]:
type(data['keySkills'][0][2])

str

In [98]:
data['keySkills'] = data['keySkills']\
    .apply(lambda x: [skill.strip().strip('\'').capitalize() for skill in x]\
           if isinstance(x, list) else np.nan)
data['keySkills']

0          [Пользователь пк, Работа в команде, Умение пла...
1          [Активные продажи, Холодные продажи, Кредитные...
2                                                        NaN
3                                                        NaN
4          [Продуктивность, Клиентоориентированность, Упр...
                                 ...
2209567    [Пользователь пк, Умение работать в команде, У...
2209568    [Желание работать и зарабатывать, Высокая энер...
2209569    [Контроль исправности оборудования, Инженерные...
2209570     [Предпечатная подготовка, Статистический анализ]
2209571    [1с: торговля, Грамотная речь, Консультативные...
Name: keySkills, Length: 2209572, dtype: object

In [99]:
empty_skills = data[pd.isna(data['keySkills']) | data['keySkills']\
                    .apply(lambda x: isinstance(x, list) and len(x) == 0)]
empty_skills.head()

,vacancy_id,name,company_id,keySkills,compensation_from,compensation_to,compensation_currencyCode,area_id,area_regionId,employment,workSchedule,workExperience,clean_name,area_regionId_encoder,area_id_encoder,company_id_encoder,employment_encoder,workSchedule_encoder,workExperience_encoder
2,v_1840054,Бухгалтер (по расчету зарплаты),c_198109,NaN,50000.0,65000.0,RUR,a_6223,ar_78,full,fullDay,between3And6,Бухгалтер,81,5806,109013,5,5,3
3,v_2346232,"Пекарь (Токсово, Привокзальная, 16)",c_6137,NaN,38500.0,42000.0,RUR,a_4795,ar_51,full,fullDay,noExperience,Пекарь,52,4218,235992,5,5,1
7,v_2091086,Монтажник СТиЖБК,c_230890,NaN,100000.0,NaN,RUR,a_500,ar_36,full,flyInFlyOut,between1And3,Монтажник СТиЖБК,35,4447,145437,5,1,2
14,v_902490,Обходчик/Обходчица (подземных газопроводов),c_101758,NaN,36000.0,NaN,RUR,a_3988,ar_64,full,fullDay,noExperience,Обходчик,66,3321,1957,5,5,1
15,v_2346650,Велокурьер на электровелосипеде компании (ст.м...,c_124592,NaN,60000.0,NaN,RUR,a_6223,ar_78,full,fullDay,noExperience,Велокурьер на электровелосипеде компании,81,5806,27328,5,5,1

In [101]:
empty_skills.shape

(1001212, 19)

In [12]:
key_skills = data['keySkills']
key_skills

0          [Пользователь пк, Работа в команде, Умение пла...
1          [Активные продажи, Холодные продажи, Кредитные...
2                                                        NaN
3                                                        NaN
4          [Продуктивность, Клиентоориентированность, Упр...
                                 ...
2209567    [Пользователь пк, Умение работать в команде, У...
2209568    [Желание работать и зарабатывать, Высокая энер...
2209569    [Контроль исправности оборудования, Инженерные...
2209570     [Предпечатная подготовка, Статистический анализ]
2209571    [1с: торговля, Грамотная речь, Консультативные...
Name: keySkills, Length: 2209572, dtype: object

In [13]:
key_skills.isna().sum()

1001212

In [14]:
len(key_skills.dropna())

1208360

In [16]:
not_null_key_skills = key_skills.dropna().reset_index().drop('index', axis=1)
not_null_key_skills.head()

                                           keySkills
0  [Пользователь пк, Работа в команде, Умение пла...
1  [Активные продажи, Холодные продажи, Кредитные...
2  [Продуктивность, Клиентоориентированность, Упр...
3  [Контроль качества, Производственный контроль,...
4  [Активные продажи, Поиск и привлечение клиенто...

In [17]:
type(not_null_key_skills['keySkills'][0])

list

In [18]:
# считаю частоту по скиллам
all_skills = {}

for skill_row in not_null_key_skills['keySkills']:
    for skill in skill_row:
        if skill in all_skills:
            all_skills[skill] += 1
        else:
            all_skills[skill] = 1

sorted_skills = sorted(all_skills.items(), key=lambda x: x[1], reverse=True)
  

i = 0
print('Frequency of skills: ')
for skill, count in sorted_skills:
    print(skill, ':', count)
    i += 1
    if i == 10:
        break

Frequency of skills:
Работа в команде : 271549
Грамотная речь : 207664
Пользователь пк : 179979
Активные продажи : 118221
Деловое общение : 115947
Телефонные переговоры : 98310
Навыки продаж : 93699
Умение работать в команде : 81968
Деловая переписка : 79937
Организаторские навыки : 73077

In [19]:
unique_skills_count = len(sorted_skills)
unique_skills_count

104724

In [21]:
filtered_skills = [skill for skill in sorted_skills if skill[1] >= 10]

In [22]:
len(filtered_skills)

10479

In [23]:
for i, elem in enumerate(filtered_skills):
    print(elem)
    if i == 5:
        break

('Работа в команде', 271549)
('Грамотная речь', 207664)
('Пользователь пк', 179979)
('Активные продажи', 118221)
('Деловое общение', 115947)
('Телефонные переговоры', 98310)

In [24]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.neighbors import NearestNeighbors
from collections import defaultdict

In [26]:
# Посмотрим пример knn для скиллов
skills = []
for elem in filtered_skills:
    skills.append(elem[0])

vectorizer = TfidfVectorizer()
X = vectorizer.fit_transform(skills)

k = 15
knn_model = NearestNeighbors(n_neighbors=k, metric='cosine')
knn_model.fit(X)
query = vectorizer.transform(['Работа в команде'])
distances, indices = knn_model.kneighbors(query)

for i in range(len(indices[0])):
    print(f'Neighbour {i+1}: {skills[indices[0][i]]}, distance: {distances[0][i]}')
    
# Возьмем threshold = 0.5

Neighbour 1: Работа в команде, distance: 0.0
Neighbour 2: Работы в команде, distance: 0.29162711605771474
Neighbour 3: Работа в команде (бригаде), distance: 0.310940378586933
Neighbour 4: Работать в команде, distance: 0.33362072999076764
Neighbour 5: Работа в команде (2-3 человека), distance: 0.3385672582937791
Neighbour 6: Навыки работы в команде, distance: 0.4037867199624904
Neighbour 7: Опыт работы в команде, distance: 0.4053788908868151
Neighbour 8: Умение работать в команде., distance: 0.4152567264109066
Neighbour 9: Умение работать в команде, distance: 0.4152567264109066
Neighbour 10: Желание работать в команде, distance: 0.45776981014046525
Neighbour 11: Способность работать в команде, distance: 0.45776981014046525
Neighbour 12: Работа в 1 с, distance: 0.4912534847029757
Neighbour 13: Работа, distance: 0.4912534847029757
Neighbour 14: Умею работать в команде, distance: 0.5231721225973529
Neighbour 15: Умение работать в команде и самостоятельно, distance: 0.5308677126571922

In [27]:
skills = []
for elem in filtered_skills:
    skills.append(elem[0])

similar_skills = defaultdict(list)

threshold = 0.5
k = 15

for i, skill in enumerate(skills):
        
    vectorizer = TfidfVectorizer()
    X = vectorizer.fit_transform(skills)    
    
    knn_model = NearestNeighbors(n_neighbors=k, metric='cosine')
    knn_model.fit(X)
        
    query = vectorizer.transform([skill])
    distances, indices = knn_model.kneighbors(query)
    neighbor_indices = indices[0][1:]
    
    similar_indices = [idx for idx, dist in zip(neighbor_indices, distances[0][1:])\
                       if dist <= threshold and idx < len(skills)]
    
    similar_skills[skill] = [skills[idx] for idx in similar_indices]

    for idx in sorted(similar_indices, reverse=True):
        del skills[idx]

In [28]:
for key, value in islice(similar_skills.items(), 3):
    print(key, value)

Работа в команде ['Работы в команде', 'Работа в команде (бригаде)', 'Работать в команде', 'Работа в команде (2-3 человека)', 'Навыки работы в команде', 'Опыт работы в команде', 'Умение работать в команде.', 'Умение работать в команде', 'Желание работать в команде', 'Способность работать в команде', 'Работа в 1 с', 'Работа']
Грамотная речь ['Грамотная речь', 'Грамотная письменная речь', 'Грамотная устная речь', 'Грамотная речь и письмо', 'Грамотная русская речь', 'Грамотная', 'Грамотная письменная и устная речь', 'Грамотная устная и письменная речь;', 'Грамотная устная и письменная речь', 'Грамотная русская речь (устная и письменная)']
Активные продажи ['Продажи']

In [29]:
len(similar_skills.keys())

6533

In [30]:
for key in similar_skills.keys():
    print(key)
    break

Работа в команде

In [31]:
len(similar_skills['Работа в команде'])

12

In [32]:
summ = 0
for key in similar_skills.keys():
    summ += len(similar_skills[key])
    
summ + len(similar_skills.keys())

10479

In [33]:
def replace_skills(skills_list, similar_skills):
    if isinstance(skills_list, list) and skills_list:
        new_skills = []
        for skill in skills_list:
            if skill in similar_skills.keys():
                new_skills.append(skill)
            else:
                for value_list in similar_skills.values():
                    if isinstance(value_list, list) and skill in value_list:
                        for key, value in similar_skills.items():
                            if value_list == value:
                                new_skills.append(key)
                                break
                        break
        return new_skills
    else:
        return skills_list

In [34]:
data['keySkills'] = data['keySkills'].apply(lambda x: replace_skills(x, similar_skills))

In [35]:
data.dropna(subset=['keySkills'], inplace=True)
data

,vacancy_id,name,company_id,keySkills,compensation_from,compensation_to,compensation_currencyCode,area_id,area_regionId,employment,workSchedule,workExperience,clean_name,area_regionId_encoder,area_id_encoder,company_id_encoder,employment_encoder,workSchedule_encoder,workExperience_encoder
0,v_862116,Смотритель музейный,c_162972,"[Уверенный пользователь пк, Работа в команде, ...",16500.0,NaN,RUR,a_4761,ar_33,full,fullDay,noExperience,Смотритель музейный,32,4181,69972,5,5,1
1,v_288642,Ведущий менеджер по работе с физическими лицами,c_208672,"[Активные продажи, Холодные продажи, Кредитные...",50000.0,NaN,RUR,a_744,ar_2,full,fullDay,noExperience,Ведущий менеджер по работе с физическими лицами,17,6731,120750,5,5,1
4,v_312507,Торговый представитель (г. Абакан),c_206699,"[Продуктивность, Клиентоориентированность, Упр...",60000.0,NaN,RUR,a_6837,ar_4,full,fullDay,between1And3,Торговый представитель,39,6487,118557,5,5,2
5,v_2323706,Менеджер по качеству,c_244141,"[Контроль качества, Производственный контроль,...",88000.0,NaN,RUR,a_5920,ar_64,full,fullDay,between1And3,Менеджер по качеству,66,5469,160161,5,5,2
6,v_704266,Менеджер по продажам / Sales manager,c_192038,"[Активные продажи, Поиск и привлечение клиенто...",30000.0,100000.0,RUR,a_5398,ar_71,full,fullDay,between1And3,Менеджер по продажам,74,4888,102268,5,5,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2209567,v_2484959,Сборщик-упаковщик,c_203256,"[Уверенный пользователь пк, Работа в команде, ...",40000.0,90000.0,RUR,a_5387,ar_71,full,flexible,noExperience,Сборщик-упаковщик,74,4876,114733,5,2,1
2209568,v_205163,Сварщик на полуавтомат,c_158695,"[Желание работать и зарабатывать, Высокая энер...",80000.0,130000.0,RUR,a_5527,ar_69,full,fullDay,between1And3,Сварщик на полуавтомат,71,5032,65219,5,5,2
2209569,v_639897,Главный инженер / Технический директор,c_209365,"[Контроль исправности оборудования, Инженерные...",200000.0,NaN,RUR,a_1756,ar_41,full,fullDay,between1And3,Главный инженер,41,842,121520,5,5,2
2209570,v_1636531,"Провизор/Фармацевт (г.Адыгейск, 20 км от Красн...",c_246244,"[Предпечатная подготовка, Статистический анализ]",25000.0,NaN,RUR,a_3403,ar_60,full,fullDay,noExperience,Фармацевт,62,2673,162497,5,5,1
2209571,v_1689739,Продавец-консультант в магазин бытовой техники,c_73191,"[1с: торговля, Грамотная речь, Консультативные...",25000.0,NaN,RUR,a_1690,ar_91,full,fullDay,between1And3,Продавец-консультант в магазин бытовой техники,96,769,249127,5,5,2

In [36]:
# проверим, сколько стало уникальных

all_skills_2 = {}

for skill_row in data['keySkills']:
    if isinstance(skill_row, list):
        for skill in skill_row:
            if skill in all_skills_2:
                all_skills_2[skill] += 1
            else:
                all_skills_2[skill] = 1

sorted_skills = sorted(all_skills_2.items(), key=lambda x: x[1], reverse=True)
    
i = 0
print('Frequency of skills: ')
for skill, count in sorted_skills:
    print(skill, ':', count)
    i += 1
    if i == 10:
        break

Frequency of skills:
Работа в команде : 356640
Грамотная речь : 221185
Уверенный пользователь пк : 197436
Активные продажи : 126943
Деловое общение : 117339
Навыки продаж : 105332
Телефонные переговоры : 102875
Ответственность : 101250
Развитие продаж : 97410
Ведение переговоров : 95894

In [37]:
unique_skills_count = len(sorted_skills)
unique_skills_count

6533

In [38]:
values = [skill[1] for skill in sorted_skills]
for i, elem in enumerate(values):
    print(i, elem)
    if i == 5:
        break

0 356640
1 221185
2 197436
3 126943
4 117339
5 105332

In [39]:
filtered_skills = [skill for skill in sorted_skills if skill[1] >= 10]

In [40]:
len(filtered_skills)

6533

In [41]:
for i, elem in enumerate(filtered_skills):
    print(elem)
    if i == 10:
        break

('Работа в команде', 356640)
('Грамотная речь', 221185)
('Уверенный пользователь пк', 197436)
('Активные продажи', 126943)
('Деловое общение', 117339)
('Навыки продаж', 105332)
('Телефонные переговоры', 102875)
('Ответственность', 101250)
('Развитие продаж', 97410)
('Ведение переговоров', 95894)
('Деловая переписка', 79937)

In [42]:
# Посмотрим снова пример knn для скиллов
skills_2 = []
for elem in filtered_skills:
    skills_2.append(elem[0])

vectorizer = TfidfVectorizer()
X = vectorizer.fit_transform(skills_2)

k = 15
knn_model = NearestNeighbors(n_neighbors=k, metric='cosine')
knn_model.fit(X)
query = vectorizer.transform(['Работа в условиях многозадачности'])
distances, indices = knn_model.kneighbors(query)

for i in range(len(indices[0])):
    print(f'Neighbour {i+1}: {skills_2[indices[0][i]]}, distance: {distances[0][i]}')
    
# Возьмем threshold = 0.65

Neighbour 1: Работа в условиях многозадачности, distance: 0.0
Neighbour 2: Режим многозадачности, distance: 0.5576238796410626
Neighbour 3: Умение работать в режиме многозадачности, distance: 0.6435184238566051
Neighbour 4: Умение работать в режиме «многозадачности»., distance: 0.6435184238566051
Neighbour 5: Расчет при работе в тяжелых климатических условиях, distance: 0.7070584504646421
Neighbour 6: Работа с людьми, distance: 0.835389634744097
Neighbour 7: Работа с клиентами, distance: 0.839448841871181
Neighbour 8: Работа с детьми, distance: 0.84462235944762
Neighbour 9: Работа в команде, distance: 0.84462235944762
Neighbour 10: Работа с оборудованием, distance: 0.84462235944762
Neighbour 11: Работа с инструментом, distance: 0.84462235944762
Neighbour 12: Работа с тмц, distance: 0.8478969618073312
Neighbour 13: Работа с поставщиками, distance: 0.8478969618073312
Neighbour 14: Работа в ростове, distance: 0.8519446665656288
Neighbour 15: Работа с краскопультом, distance: 0.8519446665656288

In [43]:
skills_2 = []
for elem in filtered_skills:
    skills_2.append(elem[0])

similar_skills_2 = defaultdict(list)

threshold = 0.65
k = 15

for i, skill in enumerate(skills_2):
        
    vectorizer = TfidfVectorizer()
    X = vectorizer.fit_transform(skills_2)    
    
    knn_model = NearestNeighbors(n_neighbors=k, metric='cosine')
    knn_model.fit(X)
        
    query = vectorizer.transform([skill])
    distances, indices = knn_model.kneighbors(query)
    neighbor_indices = indices[0][1:]
    
    similar_indices = [idx for idx, dist in zip(neighbor_indices, distances[0][1:])\
                       if dist <= threshold and idx < len(skills_2)]
    
    similar_skills_2[skill] = [skills_2[idx] for idx in similar_indices]

    for idx in sorted(similar_indices, reverse=True):
        del skills_2[idx]

In [44]:
len(similar_skills_2.keys())

4657

In [45]:
data['keySkills'] = data['keySkills'].apply(lambda x: replace_skills(x, similar_skills_2))

In [46]:
data['keySkills']

0          [Уверенный пользователь пк, Работа в команде, ...
1          [Активные продажи, Холодные продажи, Кредитные...
4          [Продуктивность, Клиентоориентированность, Раб...
5          [Контроль качества, Производственный контроль,...
6          [Активные продажи, Поиск и привлечение клиенто...
                                 ...
2209567    [Уверенный пользователь пк, Работа в команде, ...
2209568    [Желание работать и зарабатывать, Высокая энер...
2209569    [Контроль исправности оборудования, Инженерные...
2209570          [Подготовка отчетов, Статистический анализ]
2209571    [1с: торговля, Грамотная речь, Консультативные...
Name: keySkills, Length: 1208360, dtype: object

In [47]:
# проверим, сколько стало уникальных again
all_skills_3 = {}

for skill_row in data['keySkills']:
    if isinstance(skill_row, list):
        for skill in skill_row:
            if skill in all_skills_3:
                all_skills_3[skill] += 1
            else:
                all_skills_3[skill] = 1

sorted_skills = sorted(all_skills_3.items(), key=lambda x: x[1], reverse=True)
            
i = 0
print('Frequency of skills: ')
for skill, count in sorted_skills:
    print(skill, ':', count)
    i += 1
    if i == 10:
        break

Frequency of skills:
Работа в команде : 357768
Навыки продаж : 247918
Уверенный пользователь пк : 237090
Грамотная речь : 221513
Ведение переговоров : 154403
Деловая переписка : 143764
Активные продажи : 126943
Деловое общение : 117573
Обучение персонала : 113247
Телефонные переговоры : 106254

In [48]:
len(sorted_skills)

4657

In [49]:
data['keySkills_str'] = data['keySkills'].apply(lambda x: ' '.join(x))

In [50]:
data.reset_index(inplace=True)

In [51]:
data.drop('index', inplace=True, axis=1)
data.head()

,vacancy_id,name,company_id,keySkills,compensation_from,compensation_to,compensation_currencyCode,area_id,area_regionId,employment,workSchedule,workExperience,clean_name,area_regionId_encoder,area_id_encoder,company_id_encoder,employment_encoder,workSchedule_encoder,workExperience_encoder,keySkills_str
0,v_862116,Смотритель музейный,c_162972,"[Уверенный пользователь пк, Работа в команде, ...",16500.0,NaN,RUR,a_4761,ar_33,full,fullDay,noExperience,Смотритель музейный,32,4181,69972,5,5,1,Уверенный пользователь пк Работа в команде Уме...
1,v_288642,Ведущий менеджер по работе с физическими лицами,c_208672,"[Активные продажи, Холодные продажи, Кредитные...",50000.0,NaN,RUR,a_744,ar_2,full,fullDay,noExperience,Ведущий менеджер по работе с физическими лицами,17,6731,120750,5,5,1,Активные продажи Холодные продажи Кредитные до...
2,v_312507,Торговый представитель (г. Абакан),c_206699,"[Продуктивность, Клиентоориентированность, Раб...",60000.0,NaN,RUR,a_6837,ar_4,full,fullDay,between1And3,Торговый представитель,39,6487,118557,5,5,2,Продуктивность Клиентоориентированность Работа...
3,v_2323706,Менеджер по качеству,c_244141,"[Контроль качества, Производственный контроль,...",88000.0,NaN,RUR,a_5920,ar_64,full,fullDay,between1And3,Менеджер по качеству,66,5469,160161,5,5,2,Контроль качества Производственный контроль На...
4,v_704266,Менеджер по продажам / Sales manager,c_192038,"[Активные продажи, Поиск и привлечение клиенто...",30000.0,100000.0,RUR,a_5398,ar_71,full,fullDay,between1And3,Менеджер по продажам,74,4888,102268,5,5,2,Активные продажи Поиск и привлечение клиентов ...

In [52]:
vectorizer = TfidfVectorizer()
X = vectorizer.fit_transform(data['keySkills_str'])

k = 10
knn_model = NearestNeighbors(n_neighbors=k, metric='cosine')
knn_model.fit(X)

NearestNeighbors(metric='cosine', n_neighbors=10)

In [53]:
type(data['keySkills_str'][0])

str

In [54]:
data['keySkills_str'][0]

'Уверенный пользователь пк Работа в команде Умение планировать Стремление к профессиональному росту Консультирование'

In [55]:
data['keySkills_str'].isna().sum()

0

In [56]:
index = 10
query = vectorizer.transform([data['keySkills_str'][index]])
distances, indices = knn_model.kneighbors(query)

In [57]:
print('Nearest neighbors: ')
nearest_neighbors = data[['name', 'keySkills', 'keySkills_str']].iloc[indices[0]]
nearest_neighbors['distances'] = distances[0]
print(nearest_neighbors)

Nearest neighbors:
                                                      name  \
10                                    Директор предприятия
1201070                  Управляющий (Управляющий партнер)
169828                   Управляющий (Управляющий партнер)
143654                   Управляющий (Управляющий партнер)
1040640                              Директор производства
1049439                                    Главный инженер
105105   Директор карьера (горнодобывающая промышленность)
389986   Директор карьера (горнодобывающая промышленность)
581888   Директор карьера (горнодобывающая промышленность)
1075032  Директор карьера (горнодобывающая промышленность)

                                                 keySkills  \
10       [Деловое общение, Организаторские навыки, Руко...
1201070  [Обучение персонала, Управление затратами, Фор...
169828   [Обучение персонала, Управление затратами, Фор...
143654   [Обучение персонала, Управление затратами, Фор...
1040640  [Управление производством, Обучение персонала,...
1049439  [Организаторские навыки, Руководство коллектив...
105105   [Управление производством, Взаимодействие с ко...
389986   [Управление производством, Взаимодействие с ко...
581888   [Управление производством, Взаимодействие с ко...
1075032  [Управление производством, Взаимодействие с ко...

                                             keySkills_str  distances
10       Деловое общение Организаторские навыки Руковод...   0.000000
1201070  Обучение персонала Управление затратами Формир...   0.277254
169828   Обучение персонала Управление затратами Формир...   0.277254
143654   Обучение персонала Управление затратами Формир...   0.277254
1040640  Управление производством Обучение персонала Бе...   0.311978
1049439  Организаторские навыки Руководство коллективом...   0.316508
105105   Управление производством Взаимодействие с конт...   0.319991
389986   Управление производством Взаимодействие с конт...   0.319991
581888   Управление производством Взаимодействие с конт...   0.319991
1075032  Управление производством Взаимодействие с конт...   0.319991

In [58]:
indices[0]

array([     10, 1201070,  169828,  143654, 1040640, 1049439,  105105,
        389986,  581888, 1075032])

In [59]:
distances[0]

array([0.        , 0.27725372, 0.27725372, 0.27725372, 0.31197828,
       0.31650754, 0.31999055, 0.31999055, 0.31999055, 0.31999055])

In [60]:
data.to_csv('vacancies_ru_skills.csv', index=False)

### Fill keySkills if empty

In [65]:
df = pd.read_csv('vacancies_ru_skills.csv')
df.head()

,vacancy_id,name,company_id,keySkills,compensation_from,compensation_to,compensation_currencyCode,area_id,area_regionId,employment,workSchedule,workExperience,clean_name,area_regionId_encoder,area_id_encoder,company_id_encoder,employment_encoder,workSchedule_encoder,workExperience_encoder,keySkills_str
0,v_862116,Смотритель музейный,c_162972,"['Уверенный пользователь пк', 'Работа в команд...",16500.0,NaN,RUR,a_4761,ar_33,full,fullDay,noExperience,Смотритель музейный,32,4181,69972,5,5,1,Уверенный пользователь пк Работа в команде Уме...
1,v_288642,Ведущий менеджер по работе с физическими лицами,c_208672,"['Активные продажи', 'Холодные продажи', 'Кред...",50000.0,NaN,RUR,a_744,ar_2,full,fullDay,noExperience,Ведущий менеджер по работе с физическими лицами,17,6731,120750,5,5,1,Активные продажи Холодные продажи Кредитные до...
2,v_312507,Торговый представитель (г. Абакан),c_206699,"['Продуктивность', 'Клиентоориентированность',...",60000.0,NaN,RUR,a_6837,ar_4,full,fullDay,between1And3,Торговый представитель,39,6487,118557,5,5,2,Продуктивность Клиентоориентированность Работа...
3,v_2323706,Менеджер по качеству,c_244141,"['Контроль качества', 'Производственный контро...",88000.0,NaN,RUR,a_5920,ar_64,full,fullDay,between1And3,Менеджер по качеству,66,5469,160161,5,5,2,Контроль качества Производственный контроль На...
4,v_704266,Менеджер по продажам / Sales manager,c_192038,"['Активные продажи', 'Поиск и привлечение клие...",30000.0,100000.0,RUR,a_5398,ar_71,full,fullDay,between1And3,Менеджер по продажам,74,4888,102268,5,5,2,Активные продажи Поиск и привлечение клиентов ...

In [92]:
df.shape

(1208360, 20)

In [67]:
empty_skills.head()

,vacancy_id,name,company_id,keySkills,compensation_from,compensation_to,compensation_currencyCode,area_id,area_regionId,employment,workSchedule,workExperience,clean_name,area_regionId_encoder,area_id_encoder,company_id_encoder,employment_encoder,workSchedule_encoder,workExperience_encoder
2,v_1840054,Бухгалтер (по расчету зарплаты),c_198109,NaN,50000.0,65000.0,RUR,a_6223,ar_78,full,fullDay,between3And6,Бухгалтер,81,5806,109013,5,5,3
3,v_2346232,"Пекарь (Токсово, Привокзальная, 16)",c_6137,NaN,38500.0,42000.0,RUR,a_4795,ar_51,full,fullDay,noExperience,Пекарь,52,4218,235992,5,5,1
7,v_2091086,Монтажник СТиЖБК,c_230890,NaN,100000.0,NaN,RUR,a_500,ar_36,full,flyInFlyOut,between1And3,Монтажник СТиЖБК,35,4447,145437,5,1,2
14,v_902490,Обходчик/Обходчица (подземных газопроводов),c_101758,NaN,36000.0,NaN,RUR,a_3988,ar_64,full,fullDay,noExperience,Обходчик,66,3321,1957,5,5,1
15,v_2346650,Велокурьер на электровелосипеде компании (ст.м...,c_124592,NaN,60000.0,NaN,RUR,a_6223,ar_78,full,fullDay,noExperience,Велокурьер на электровелосипеде компании,81,5806,27328,5,5,1

In [102]:
empty_skills_copy = empty_skills.copy()

In [103]:
empty_skills_copy.shape

(1001212, 19)

In [104]:
vectorizer = TfidfVectorizer()
X = vectorizer.fit_transform(df['name'])

k = 1
knn_model = NearestNeighbors(n_neighbors=k, metric='cosine')
knn_model.fit(X)

NearestNeighbors(metric='cosine', n_neighbors=1)

In [76]:
import tqdm

In [106]:
i = 0

for index, row in empty_skills_copy.iterrows():
    i += 1
    if i % 10000 == 0:
        print(i) 
    try:
        name_vector = vectorizer.transform([row['name']])

        distance, nearest_index = knn_model.kneighbors(name_vector)
        empty_skills_copy.at[index, 'keySkills'] = df.at[nearest_index[0][0], 'keySkills']
    except Exception as e:
        print(f"Error occurred at index {index}: {e}")

10000
20000
30000
40000
50000
60000
70000
80000
90000
100000
110000
120000
130000
140000
150000
160000
170000
180000
190000
200000
210000
220000
230000
240000
250000
260000
270000
280000
290000
300000
310000
320000
330000
340000
350000
360000
370000
380000
390000
400000
410000
420000
430000
440000
450000
460000
470000
480000
490000
500000
510000
520000
530000
540000
550000
560000
570000
580000
590000
600000
610000
620000
630000
640000
650000
660000
670000
680000
690000
700000
710000
720000
730000
740000
750000
760000
770000
780000
790000
800000
810000
820000
830000
840000
850000
860000
870000
880000
890000
900000
910000
920000
930000
940000
950000
960000
970000
980000
990000
1000000

In [107]:
empty_skills_copy['keySkills'].isna().sum()

0

In [115]:
empty_skills_copy[1200:1205]

,vacancy_id,name,company_id,keySkills,compensation_from,compensation_to,compensation_currencyCode,area_id,area_regionId,employment,workSchedule,workExperience,clean_name,area_regionId_encoder,area_id_encoder,company_id_encoder,employment_encoder,workSchedule_encoder,workExperience_encoder
2646,v_1205735,Менеджер по трейд-маркетингу,c_127780,"['B2b маркетинг', 'Проведение промо акций', 'П...",120000.0,NaN,RUR,a_5987,ar_21,full,fullDay,between3And6,Менеджер по трейд-маркетингу,19,5542,30870,5,5,3
2648,v_1799893,Cборщик корпусной мебели,c_57917,"['Столяр', 'Сборщик', 'Ответственность', 'Жела...",35000.0,NaN,RUR,a_1361,ar_77,full,fullDay,between1And3,Cборщик корпусной мебели,80,404,232155,5,5,2
2649,v_792652,Manual QA,c_53041,"['Git', 'Postman', 'Cypress', 'Английский язык...",NaN,90000.0,RUR,a_1756,ar_41,full,fullDay,between1And3,Manual QA,41,842,226739,5,5,2
2650,v_338495,"Продавец (Воронеж, Революции, 33б)",c_6137,"['Закупка товаров и услуг', 'Проверка сроков г...",35000.0,45000.0,RUR,a_5657,ar_8,full,fullDay,noExperience,Продавец,83,5176,235992,5,5,1
2652,v_1245680,Специалист по страхованию,c_80580,"['Работа в команде', 'Деловая переписка', 'Орг...",55000.0,NaN,RUR,a_4375,ar_42,full,fullDay,noExperience,Специалист по страхованию,42,3752,257337,5,5,1

In [125]:
empty_skills_copy['keySkills'] = empty_skills_copy['keySkills'].str.strip('[]')
empty_skills_copy['keySkills'] = empty_skills_copy['keySkills'].str.split(',')
empty_skills_copy['keySkills'] = empty_skills_copy['keySkills']\
    .apply(lambda x: [skill.strip().strip('\'').capitalize() for skill in x]\
           if isinstance(x, list) else np.nan)
empty_skills_copy['keySkills']

2          [Расчет заработной платы, Начисление ежегодных...
3          [Грамотная речь, Работа в команде, Активные пр...
7                                         [Сварочные работы]
14         [Техническое обслуживание, Слесарные работы, К...
15         [Работа в команде, Ответственность, Исполнител...
                                 ...
2209549    [Внимательность к мелочам, Сборка заказов, Упа...
2209558    [Проверка сроков годности, Работа в команде, М...
2209561    [Маркетинговый анализ, Анализ рынка, Мониторин...
2209563    [Монтаж оборудования, Монтаж оборудования, Сле...
2209564    [1с: предприятие 8, Банк-клиент, 1с: бухгалтер...
Name: keySkills, Length: 1001212, dtype: object

In [126]:
empty_skills_copy['keySkills_str'] = empty_skills_copy['keySkills'].apply(lambda x: ' '.join(x))
empty_skills_copy.head()

,vacancy_id,name,company_id,keySkills,compensation_from,compensation_to,compensation_currencyCode,area_id,area_regionId,employment,workSchedule,workExperience,clean_name,area_regionId_encoder,area_id_encoder,company_id_encoder,employment_encoder,workSchedule_encoder,workExperience_encoder,keySkills_str
2,v_1840054,Бухгалтер (по расчету зарплаты),c_198109,"[Расчет заработной платы, Начисление ежегодных...",50000.0,65000.0,RUR,a_6223,ar_78,full,fullDay,between3And6,Бухгалтер,81,5806,109013,5,5,3,Расчет заработной платы Начисление ежегодных о...
3,v_2346232,"Пекарь (Токсово, Привокзальная, 16)",c_6137,"[Грамотная речь, Работа в команде, Активные пр...",38500.0,42000.0,RUR,a_4795,ar_51,full,fullDay,noExperience,Пекарь,52,4218,235992,5,5,1,Грамотная речь Работа в команде Активные продажи
7,v_2091086,Монтажник СТиЖБК,c_230890,[Сварочные работы],100000.0,NaN,RUR,a_500,ar_36,full,flyInFlyOut,between1And3,Монтажник СТиЖБК,35,4447,145437,5,1,2,Сварочные работы
14,v_902490,Обходчик/Обходчица (подземных газопроводов),c_101758,"[Техническое обслуживание, Слесарные работы, К...",36000.0,NaN,RUR,a_3988,ar_64,full,fullDay,noExperience,Обходчик,66,3321,1957,5,5,1,Техническое обслуживание Слесарные работы Конт...
15,v_2346650,Велокурьер на электровелосипеде компании (ст.м...,c_124592,"[Работа в команде, Ответственность, Исполнител...",60000.0,NaN,RUR,a_6223,ar_78,full,fullDay,noExperience,Велокурьер на электровелосипеде компании,81,5806,27328,5,5,1,Работа в команде Ответственность Исполнительность

In [130]:
df_full = pd.concat([df, empty_skills_copy], ignore_index=True)
df_full.head()

,vacancy_id,name,company_id,keySkills,compensation_from,compensation_to,compensation_currencyCode,area_id,area_regionId,employment,workSchedule,workExperience,clean_name,area_regionId_encoder,area_id_encoder,company_id_encoder,employment_encoder,workSchedule_encoder,workExperience_encoder,keySkills_str
0,v_862116,Смотритель музейный,c_162972,"['Уверенный пользователь пк', 'Работа в команд...",16500.0,NaN,RUR,a_4761,ar_33,full,fullDay,noExperience,Смотритель музейный,32,4181,69972,5,5,1,Уверенный пользователь пк Работа в команде Уме...
1,v_288642,Ведущий менеджер по работе с физическими лицами,c_208672,"['Активные продажи', 'Холодные продажи', 'Кред...",50000.0,NaN,RUR,a_744,ar_2,full,fullDay,noExperience,Ведущий менеджер по работе с физическими лицами,17,6731,120750,5,5,1,Активные продажи Холодные продажи Кредитные до...
2,v_312507,Торговый представитель (г. Абакан),c_206699,"['Продуктивность', 'Клиентоориентированность',...",60000.0,NaN,RUR,a_6837,ar_4,full,fullDay,between1And3,Торговый представитель,39,6487,118557,5,5,2,Продуктивность Клиентоориентированность Работа...
3,v_2323706,Менеджер по качеству,c_244141,"['Контроль качества', 'Производственный контро...",88000.0,NaN,RUR,a_5920,ar_64,full,fullDay,between1And3,Менеджер по качеству,66,5469,160161,5,5,2,Контроль качества Производственный контроль На...
4,v_704266,Менеджер по продажам / Sales manager,c_192038,"['Активные продажи', 'Поиск и привлечение клие...",30000.0,100000.0,RUR,a_5398,ar_71,full,fullDay,between1And3,Менеджер по продажам,74,4888,102268,5,5,2,Активные продажи Поиск и привлечение клиентов ...

In [128]:
df_full.to_csv('vacancies_full_keyskills.csv', index=False)