In [118]:
import pandas as pd
import numpy as np
from itertools import islice

In [110]:
data = pd.read_csv('vacancies_ru.csv')

In [111]:
data.drop('Unnamed: 0', axis=1, inplace=True)
data.head()

,vacancy_id,name,company_id,keySkills,compensation_from,compensation_to,compensation_currencyCode,area_id,area_regionId,employment,workSchedule,workExperience,clean_name,area_regionId_encoder,area_id_encoder,company_id_encoder,employment_encoder,workSchedule_encoder,workExperience_encoder
0,v_862116,Смотритель музейный,c_162972,"['Пользователь ПК', 'Работа в команде', 'Умени...",16500.0,NaN,RUR,a_4761,ar_33,full,fullDay,noExperience,Смотритель музейный,32,4181,69972,5,5,1
1,v_288642,Ведущий менеджер по работе с физическими лицами,c_208672,"['Активные продажи', 'Холодные продажи', 'Кред...",50000.0,NaN,RUR,a_744,ar_2,full,fullDay,noExperience,Ведущий менеджер по работе с физическими лицами,17,6731,120750,5,5,1
2,v_1840054,Бухгалтер (по расчету зарплаты),c_198109,NaN,50000.0,65000.0,RUR,a_6223,ar_78,full,fullDay,between3And6,Бухгалтер,81,5806,109013,5,5,3
3,v_2346232,"Пекарь (Токсово, Привокзальная, 16)",c_6137,NaN,38500.0,42000.0,RUR,a_4795,ar_51,full,fullDay,noExperience,Пекарь,52,4218,235992,5,5,1
4,v_312507,Торговый представитель (г. Абакан),c_206699,"['Продуктивность', 'Клиентоориентированность',...",60000.0,NaN,RUR,a_6837,ar_4,full,fullDay,between1And3,Торговый представитель,39,6487,118557,5,5,2

In [112]:
data['keySkills'] = data['keySkills'].str.strip('[]')
data['keySkills'] = data['keySkills'].str.split(',')

In [113]:
type(data['keySkills'][0][2])

str

In [114]:
data['keySkills'] = data['keySkills'].apply(lambda x: [skill.strip().strip('\'').capitalize() for skill in x] if isinstance(x, list) else np.nan)
data['keySkills']

0          [Пользователь пк, Работа в команде, Умение пла...
1          [Активные продажи, Холодные продажи, Кредитные...
2                                                        NaN
3                                                        NaN
4          [Продуктивность, Клиентоориентированность, Упр...
                                 ...
2209567    [Пользователь пк, Умение работать в команде, У...
2209568    [Желание работать и зарабатывать, Высокая энер...
2209569    [Контроль исправности оборудования, Инженерные...
2209570     [Предпечатная подготовка, Статистический анализ]
2209571    [1с: торговля, Грамотная речь, Консультативные...
Name: keySkills, Length: 2209572, dtype: object

In [119]:
empty_skills = data[pd.isna(data['keySkills']) | data['keySkills'].apply(lambda x: isinstance(x, list) and len(x) == 0)]
empty_skills

,vacancy_id,name,company_id,keySkills,compensation_from,compensation_to,compensation_currencyCode,area_id,area_regionId,employment,workSchedule,workExperience,clean_name,area_regionId_encoder,area_id_encoder,company_id_encoder,employment_encoder,workSchedule_encoder,workExperience_encoder
2,v_1840054,Бухгалтер (по расчету зарплаты),c_198109,NaN,50000.0,65000.0,RUR,a_6223,ar_78,full,fullDay,between3And6,Бухгалтер,81,5806,109013,5,5,3
3,v_2346232,"Пекарь (Токсово, Привокзальная, 16)",c_6137,NaN,38500.0,42000.0,RUR,a_4795,ar_51,full,fullDay,noExperience,Пекарь,52,4218,235992,5,5,1
7,v_2091086,Монтажник СТиЖБК,c_230890,NaN,100000.0,NaN,RUR,a_500,ar_36,full,flyInFlyOut,between1And3,Монтажник СТиЖБК,35,4447,145437,5,1,2
14,v_902490,Обходчик/Обходчица (подземных газопроводов),c_101758,NaN,36000.0,NaN,RUR,a_3988,ar_64,full,fullDay,noExperience,Обходчик,66,3321,1957,5,5,1
15,v_2346650,Велокурьер на электровелосипеде компании (ст.м...,c_124592,NaN,60000.0,NaN,RUR,a_6223,ar_78,full,fullDay,noExperience,Велокурьер на электровелосипеде компании,81,5806,27328,5,5,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2209549,v_515251,Сборщик заказов в магазин Лента,c_20608,NaN,60000.0,100000.0,RUR,a_6223,ar_78,part,shift,noExperience,Сборщик заказов в магазин Лента,81,5806,117870,4,4,1
2209558,v_1134490,"Продавец (Губаха, Углеуральский, 2-я Коммунист...",c_6137,NaN,24700.0,33400.0,RUR,a_2206,ar_72,full,fullDay,noExperience,Продавец,75,1343,235992,5,5,1
2209561,v_1841986,Маркетолог-аналитик,c_44564,NaN,55128.0,71666.0,RUR,a_2649,ar_44,full,fullDay,between3And6,Маркетолог-аналитик,44,1834,217319,5,5,3
2209563,v_2082311,Слесарь механосборочных работ,c_167337,NaN,115000.0,NaN,RUR,a_61,ar_25,full,flyInFlyOut,between1And3,Слесарь механосборочных работ,23,5668,74822,5,1,2
2209564,v_292464,Ведущий бухгалтер,c_138929,NaN,100000.0,NaN,RUR,a_4284,ar_23,full,fullDay,between1And3,Ведущий бухгалтер,21,3651,43257,5,5,2

In [115]:
key_skills = data['keySkills']
key_skills

0          [Пользователь пк, Работа в команде, Умение пла...
1          [Активные продажи, Холодные продажи, Кредитные...
2                                                        NaN
3                                                        NaN
4          [Продуктивность, Клиентоориентированность, Упр...
                                 ...
2209567    [Пользователь пк, Умение работать в команде, У...
2209568    [Желание работать и зарабатывать, Высокая энер...
2209569    [Контроль исправности оборудования, Инженерные...
2209570     [Предпечатная подготовка, Статистический анализ]
2209571    [1с: торговля, Грамотная речь, Консультативные...
Name: keySkills, Length: 2209572, dtype: object

In [116]:
key_skills.isna().sum()

1001212

In [117]:
len(key_skills.dropna())

1208360

In [20]:
not_null_key_skills = key_skills.dropna().reset_index().drop('index', axis=1)
not_null_key_skills

                                                 keySkills
0        [Пользователь пк, Работа в команде, Умение пла...
1        [Активные продажи, Холодные продажи, Кредитные...
2        [Продуктивность, Клиентоориентированность, Упр...
3        [Контроль качества, Производственный контроль,...
4        [Активные продажи, Поиск и привлечение клиенто...
...                                                    ...
1208355  [Пользователь пк, Умение работать в команде, У...
1208356  [Желание работать и зарабатывать, Высокая энер...
1208357  [Контроль исправности оборудования, Инженерные...
1208358   [Предпечатная подготовка, Статистический анализ]
1208359  [1с: торговля, Грамотная речь, Консультативные...

[1208360 rows x 1 columns]

In [21]:
type(not_null_key_skills['keySkills'][0])

list

In [22]:
all_skills = {}

for skill_row in not_null_key_skills['keySkills']:
    for skill in skill_row:
        if skill in all_skills:
            all_skills[skill] += 1
        else:
            all_skills[skill] = 1

sorted_skills = sorted(all_skills.items(), key=lambda x: x[1], reverse=True)
  

i = 0
print('Frequency of skills: ')
for skill, count in sorted_skills:
    print(skill, ':', count)
    i += 1
    if i == 10:
        break

Frequency of skills:
Работа в команде : 271549
Грамотная речь : 207664
Пользователь пк : 179979
Активные продажи : 118221
Деловое общение : 115947
Телефонные переговоры : 98310
Навыки продаж : 93699
Умение работать в команде : 81968
Деловая переписка : 79937
Организаторские навыки : 73077

In [23]:
unique_skills_count = len(sorted_skills)
unique_skills_count

104724

In [24]:
values = [skill[1] for skill in sorted_skills]
for i, elem in enumerate(values):
    print(i, elem)
    if i == 10:
        break

0 271549
1 207664
2 179979
3 118221
4 115947
5 98310
6 93699
7 81968
8 79937
9 73077
10 71107

In [25]:
filtered_skills = [skill for skill in sorted_skills if skill[1] >= 10]

In [26]:
len(filtered_skills)

10479

In [27]:
for i, elem in enumerate(filtered_skills):
    print(elem)
    if i == 10:
        break

('Работа в команде', 271549)
('Грамотная речь', 207664)
('Пользователь пк', 179979)
('Активные продажи', 118221)
('Деловое общение', 115947)
('Телефонные переговоры', 98310)
('Навыки продаж', 93699)
('Умение работать в команде', 81968)
('Деловая переписка', 79937)
('Организаторские навыки', 73077)
('Работа с большим объемом информации', 71107)

In [5]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.neighbors import NearestNeighbors
from collections import defaultdict

In [29]:
# Посмотрим пример knn для скиллов
skills = []
for elem in filtered_skills:
    skills.append(elem[0])

vectorizer = TfidfVectorizer()
X = vectorizer.fit_transform(skills)

k = 15
knn_model = NearestNeighbors(n_neighbors=k, metric='cosine')
knn_model.fit(X)
query = vectorizer.transform(['Работа в команде'])
distances, indices = knn_model.kneighbors(query)

for i in range(len(indices[0])):
    print(f'Neighbour {i+1}: {skills[indices[0][i]]}, distance: {distances[0][i]}')
    
# Возьмем threshold = 0.5

Neighbour 1: Работа в команде, distance: 0.0
Neighbour 2: Работы в команде, distance: 0.29162711605771474
Neighbour 3: Работа в команде (бригаде), distance: 0.310940378586933
Neighbour 4: Работать в команде, distance: 0.33362072999076764
Neighbour 5: Работа в команде (2-3 человека), distance: 0.3385672582937791
Neighbour 6: Навыки работы в команде, distance: 0.4037867199624904
Neighbour 7: Опыт работы в команде, distance: 0.4053788908868151
Neighbour 8: Умение работать в команде., distance: 0.4152567264109066
Neighbour 9: Умение работать в команде, distance: 0.4152567264109066
Neighbour 10: Желание работать в команде, distance: 0.45776981014046525
Neighbour 11: Способность работать в команде, distance: 0.45776981014046525
Neighbour 12: Работа в 1 с, distance: 0.4912534847029757
Neighbour 13: Работа, distance: 0.4912534847029757
Neighbour 14: Умею работать в команде, distance: 0.5231721225973529
Neighbour 15: Умение работать в команде и самостоятельно, distance: 0.5308677126571922

In [30]:
skills = []
for elem in filtered_skills:
    skills.append(elem[0])

similar_skills = defaultdict(list)

threshold = 0.5
k = 15

for i, skill in enumerate(skills):
        
    vectorizer = TfidfVectorizer()
    X = vectorizer.fit_transform(skills)    
    
    knn_model = NearestNeighbors(n_neighbors=k, metric='cosine')
    knn_model.fit(X)
        
    query = vectorizer.transform([skill])
    distances, indices = knn_model.kneighbors(query)
    neighbor_indices = indices[0][1:]
    
    similar_indices = [idx for idx, dist in zip(neighbor_indices, distances[0][1:]) if dist <= threshold and idx < len(skills)]
    
    similar_skills[skill] = [skills[idx] for idx in similar_indices]

    for idx in sorted(similar_indices, reverse=True):
        del skills[idx]

In [39]:
for key, value in islice(similar_skills.items(), 3):
    print(key, value)

Работа в команде ['Работы в команде', 'Работа в команде (бригаде)', 'Работать в команде', 'Работа в команде (2-3 человека)', 'Навыки работы в команде', 'Опыт работы в команде', 'Умение работать в команде.', 'Умение работать в команде', 'Желание работать в команде', 'Способность работать в команде', 'Работа в 1 с', 'Работа']
Грамотная речь ['Грамотная речь', 'Грамотная письменная речь', 'Грамотная устная речь', 'Грамотная речь и письмо', 'Грамотная русская речь', 'Грамотная', 'Грамотная письменная и устная речь', 'Грамотная устная и письменная речь;', 'Грамотная устная и письменная речь', 'Грамотная русская речь (устная и письменная)']
Активные продажи ['Продажи']

In [40]:
len(similar_skills.keys())

6533

In [41]:
for key in similar_skills.keys():
    print(key)
    break

Работа в команде

In [42]:
len(similar_skills['Работа в команде'])

12

In [43]:
summ = 0
for key in similar_skills.keys():
    summ += len(similar_skills[key])
    
summ + len(similar_skills.keys())

10479

In [44]:
def replace_skills(skills_list, similar_skills):
    if isinstance(skills_list, list) and skills_list:
        new_skills = []
        for skill in skills_list:
            if skill in similar_skills.keys():
                new_skills.append(skill)
            else:
                for value_list in similar_skills.values():
                    if isinstance(value_list, list) and skill in value_list:
                        for key, value in similar_skills.items():
                            if value_list == value:
                                new_skills.append(key)
                                break
                        break
        return new_skills
    else:
        return skills_list

In [45]:
data['keySkills'] = data['keySkills'].apply(lambda x: replace_skills(x, similar_skills))

In [46]:
data.dropna(subset=['keySkills'], inplace=True)
data

,vacancy_id,name,company_id,keySkills,compensation_from,compensation_to,compensation_currencyCode,area_id,area_regionId,employment,workSchedule,workExperience,clean_name,area_regionId_encoder,area_id_encoder,company_id_encoder,employment_encoder,workSchedule_encoder,workExperience_encoder
0,v_862116,Смотритель музейный,c_162972,"[Уверенный пользователь пк, Работа в команде, ...",16500.0,NaN,RUR,a_4761,ar_33,full,fullDay,noExperience,Смотритель музейный,32,4181,69972,5,5,1
1,v_288642,Ведущий менеджер по работе с физическими лицами,c_208672,"[Активные продажи, Холодные продажи, Кредитные...",50000.0,NaN,RUR,a_744,ar_2,full,fullDay,noExperience,Ведущий менеджер по работе с физическими лицами,17,6731,120750,5,5,1
4,v_312507,Торговый представитель (г. Абакан),c_206699,"[Продуктивность, Клиентоориентированность, Упр...",60000.0,NaN,RUR,a_6837,ar_4,full,fullDay,between1And3,Торговый представитель,39,6487,118557,5,5,2
5,v_2323706,Менеджер по качеству,c_244141,"[Контроль качества, Производственный контроль,...",88000.0,NaN,RUR,a_5920,ar_64,full,fullDay,between1And3,Менеджер по качеству,66,5469,160161,5,5,2
6,v_704266,Менеджер по продажам / Sales manager,c_192038,"[Активные продажи, Поиск и привлечение клиенто...",30000.0,100000.0,RUR,a_5398,ar_71,full,fullDay,between1And3,Менеджер по продажам,74,4888,102268,5,5,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2209567,v_2484959,Сборщик-упаковщик,c_203256,"[Уверенный пользователь пк, Работа в команде, ...",40000.0,90000.0,RUR,a_5387,ar_71,full,flexible,noExperience,Сборщик-упаковщик,74,4876,114733,5,2,1
2209568,v_205163,Сварщик на полуавтомат,c_158695,"[Желание работать и зарабатывать, Высокая энер...",80000.0,130000.0,RUR,a_5527,ar_69,full,fullDay,between1And3,Сварщик на полуавтомат,71,5032,65219,5,5,2
2209569,v_639897,Главный инженер / Технический директор,c_209365,"[Контроль исправности оборудования, Инженерные...",200000.0,NaN,RUR,a_1756,ar_41,full,fullDay,between1And3,Главный инженер,41,842,121520,5,5,2
2209570,v_1636531,"Провизор/Фармацевт (г.Адыгейск, 20 км от Красн...",c_246244,"[Предпечатная подготовка, Статистический анализ]",25000.0,NaN,RUR,a_3403,ar_60,full,fullDay,noExperience,Фармацевт,62,2673,162497,5,5,1
2209571,v_1689739,Продавец-консультант в магазин бытовой техники,c_73191,"[1с: торговля, Грамотная речь, Консультативные...",25000.0,NaN,RUR,a_1690,ar_91,full,fullDay,between1And3,Продавец-консультант в магазин бытовой техники,96,769,249127,5,5,2

In [47]:
# проверим, сколько стало уникальных
all_skills_2 = {}

for skill_row in data['keySkills']:
    if isinstance(skill_row, list):
        for skill in skill_row:
            if skill in all_skills_2:
                all_skills_2[skill] += 1
            else:
                all_skills_2[skill] = 1

sorted_skills = sorted(all_skills_2.items(), key=lambda x: x[1], reverse=True)
    
i = 0
print('Frequency of skills: ')
for skill, count in sorted_skills:
    print(skill, ':', count)
    i += 1
    if i == 10:
        break

Frequency of skills:
Работа в команде : 356640
Грамотная речь : 221185
Уверенный пользователь пк : 197436
Активные продажи : 126943
Деловое общение : 117339
Навыки продаж : 105332
Телефонные переговоры : 102875
Ответственность : 101250
Развитие продаж : 97410
Ведение переговоров : 95894

In [48]:
unique_skills_count = len(sorted_skills)
unique_skills_count

6533

In [49]:
values = [skill[1] for skill in sorted_skills]
for i, elem in enumerate(values):
    print(i, elem)
    if i == 10:
        break

0 356640
1 221185
2 197436
3 126943
4 117339
5 105332
6 102875
7 101250
8 97410
9 95894
10 79937

In [50]:
filtered_skills = [skill for skill in sorted_skills if skill[1] >= 10]

In [51]:
len(filtered_skills)

6533

In [52]:
for i, elem in enumerate(filtered_skills):
    print(elem)
    if i == 10:
        break

('Работа в команде', 356640)
('Грамотная речь', 221185)
('Уверенный пользователь пк', 197436)
('Активные продажи', 126943)
('Деловое общение', 117339)
('Навыки продаж', 105332)
('Телефонные переговоры', 102875)
('Ответственность', 101250)
('Развитие продаж', 97410)
('Ведение переговоров', 95894)
('Деловая переписка', 79937)

In [53]:
# Посмотрим снова пример knn для скиллов
skills_2 = []
for elem in filtered_skills:
    skills_2.append(elem[0])

vectorizer = TfidfVectorizer()
X = vectorizer.fit_transform(skills_2)

k = 15
knn_model = NearestNeighbors(n_neighbors=k, metric='cosine')
knn_model.fit(X)
query = vectorizer.transform(['Работа в условиях многозадачности'])
distances, indices = knn_model.kneighbors(query)

for i in range(len(indices[0])):
    print(f'Neighbour {i+1}: {skills_2[indices[0][i]]}, distance: {distances[0][i]}')
    
# Возьмем threshold = 0.65

Neighbour 1: Работа в условиях многозадачности, distance: 0.0
Neighbour 2: Режим многозадачности, distance: 0.5576238796410626
Neighbour 3: Умение работать в режиме многозадачности, distance: 0.6435184238566051
Neighbour 4: Умение работать в режиме «многозадачности»., distance: 0.6435184238566051
Neighbour 5: Расчет при работе в тяжелых климатических условиях, distance: 0.7070584504646421
Neighbour 6: Работа с людьми, distance: 0.835389634744097
Neighbour 7: Работа с клиентами, distance: 0.839448841871181
Neighbour 8: Работа с детьми, distance: 0.84462235944762
Neighbour 9: Работа в команде, distance: 0.84462235944762
Neighbour 10: Работа с оборудованием, distance: 0.84462235944762
Neighbour 11: Работа с инструментом, distance: 0.84462235944762
Neighbour 12: Работа с тмц, distance: 0.8478969618073312
Neighbour 13: Работа с поставщиками, distance: 0.8478969618073312
Neighbour 14: Работа в ростове, distance: 0.8519446665656288
Neighbour 15: Работа с краскопультом, distance: 0.8519446665656288

In [54]:
skills_2 = []
for elem in filtered_skills:
    skills_2.append(elem[0])

similar_skills_2 = defaultdict(list)

threshold = 0.65
k = 15

for i, skill in enumerate(skills_2):
        
    vectorizer = TfidfVectorizer()
    X = vectorizer.fit_transform(skills_2)    
    
    knn_model = NearestNeighbors(n_neighbors=k, metric='cosine')
    knn_model.fit(X)
        
    query = vectorizer.transform([skill])
    distances, indices = knn_model.kneighbors(query)
    neighbor_indices = indices[0][1:]
    
    similar_indices = [idx for idx, dist in zip(neighbor_indices, distances[0][1:]) if dist <= threshold and idx < len(skills_2)]
    
    similar_skills_2[skill] = [skills_2[idx] for idx in similar_indices]

    for idx in sorted(similar_indices, reverse=True):
        del skills_2[idx]

In [55]:
len(similar_skills_2.keys())

4657

In [56]:
data['keySkills'] = data['keySkills'].apply(lambda x: replace_skills(x, similar_skills_2))

In [57]:
data['keySkills']

0          [Уверенный пользователь пк, Работа в команде, ...
1          [Активные продажи, Холодные продажи, Кредитные...
4          [Продуктивность, Клиентоориентированность, Раб...
5          [Контроль качества, Производственный контроль,...
6          [Активные продажи, Поиск и привлечение клиенто...
                                 ...
2209567    [Уверенный пользователь пк, Работа в команде, ...
2209568    [Желание работать и зарабатывать, Высокая энер...
2209569    [Контроль исправности оборудования, Инженерные...
2209570          [Подготовка отчетов, Статистический анализ]
2209571    [1с: торговля, Грамотная речь, Консультативные...
Name: keySkills, Length: 1208360, dtype: object

In [58]:
# проверим, сколько стало уникальных again
all_skills_3 = {}

for skill_row in data['keySkills']:
    if isinstance(skill_row, list):
        for skill in skill_row:
            if skill in all_skills_3:
                all_skills_3[skill] += 1
            else:
                all_skills_3[skill] = 1

sorted_skills = sorted(all_skills_3.items(), key=lambda x: x[1], reverse=True)
            
i = 0
print('Frequency of skills: ')
for skill, count in sorted_skills:
    print(skill, ':', count)
    i += 1
    if i == 10:
        break

Frequency of skills:
Работа в команде : 357768
Навыки продаж : 247918
Уверенный пользователь пк : 237090
Грамотная речь : 221513
Ведение переговоров : 154403
Деловая переписка : 143764
Активные продажи : 126943
Деловое общение : 117573
Обучение персонала : 113247
Телефонные переговоры : 106254

In [59]:
len(sorted_skills)

4657

In [60]:
data['keySkills_str'] = data['keySkills'].apply(lambda x: ' '.join(x))

In [61]:
data.reset_index(inplace=True)

In [62]:
data.drop('index', inplace=True, axis=1)
data.head()

,vacancy_id,name,company_id,keySkills,compensation_from,compensation_to,compensation_currencyCode,area_id,area_regionId,employment,workSchedule,workExperience,clean_name,area_regionId_encoder,area_id_encoder,company_id_encoder,employment_encoder,workSchedule_encoder,workExperience_encoder,keySkills_str
0,v_862116,Смотритель музейный,c_162972,"[Уверенный пользователь пк, Работа в команде, ...",16500.0,NaN,RUR,a_4761,ar_33,full,fullDay,noExperience,Смотритель музейный,32,4181,69972,5,5,1,Уверенный пользователь пк Работа в команде Уме...
1,v_288642,Ведущий менеджер по работе с физическими лицами,c_208672,"[Активные продажи, Холодные продажи, Кредитные...",50000.0,NaN,RUR,a_744,ar_2,full,fullDay,noExperience,Ведущий менеджер по работе с физическими лицами,17,6731,120750,5,5,1,Активные продажи Холодные продажи Кредитные до...
2,v_312507,Торговый представитель (г. Абакан),c_206699,"[Продуктивность, Клиентоориентированность, Раб...",60000.0,NaN,RUR,a_6837,ar_4,full,fullDay,between1And3,Торговый представитель,39,6487,118557,5,5,2,Продуктивность Клиентоориентированность Работа...
3,v_2323706,Менеджер по качеству,c_244141,"[Контроль качества, Производственный контроль,...",88000.0,NaN,RUR,a_5920,ar_64,full,fullDay,between1And3,Менеджер по качеству,66,5469,160161,5,5,2,Контроль качества Производственный контроль На...
4,v_704266,Менеджер по продажам / Sales manager,c_192038,"[Активные продажи, Поиск и привлечение клиенто...",30000.0,100000.0,RUR,a_5398,ar_71,full,fullDay,between1And3,Менеджер по продажам,74,4888,102268,5,5,2,Активные продажи Поиск и привлечение клиентов ...

In [63]:
vectorizer = TfidfVectorizer()
X = vectorizer.fit_transform(data['keySkills_str'])

k = 10
knn_model = NearestNeighbors(n_neighbors=k, metric='cosine')
knn_model.fit(X)

NearestNeighbors(metric='cosine', n_neighbors=10)

In [64]:
type(data['keySkills_str'][0])

str

In [65]:
data['keySkills_str'][0]

'Уверенный пользователь пк Работа в команде Умение планировать Стремление к профессиональному росту Консультирование'

In [76]:
data['keySkills_str'].isna().sum()

0

In [66]:
index = 10
query = vectorizer.transform([data['keySkills_str'][index]])
distances, indices = knn_model.kneighbors(query)

In [67]:
print('Nearest neighbors: ')
nearest_neighbors = data[['name', 'keySkills', 'keySkills_str']].iloc[indices[0]]
nearest_neighbors['distances'] = distances[0]
print(nearest_neighbors)

Nearest neighbors:
                                                      name  \
10                                    Директор предприятия
1201070                  Управляющий (Управляющий партнер)
169828                   Управляющий (Управляющий партнер)
143654                   Управляющий (Управляющий партнер)
1040640                              Директор производства
1049439                                    Главный инженер
105105   Директор карьера (горнодобывающая промышленность)
389986   Директор карьера (горнодобывающая промышленность)
581888   Директор карьера (горнодобывающая промышленность)
1075032  Директор карьера (горнодобывающая промышленность)

                                                 keySkills  \
10       [Деловое общение, Организаторские навыки, Руко...
1201070  [Обучение персонала, Управление затратами, Фор...
169828   [Обучение персонала, Управление затратами, Фор...
143654   [Обучение персонала, Управление затратами, Фор...
1040640  [Управление производством, Обучение персонала,...
1049439  [Организаторские навыки, Руководство коллектив...
105105   [Управление производством, Взаимодействие с ко...
389986   [Управление производством, Взаимодействие с ко...
581888   [Управление производством, Взаимодействие с ко...
1075032  [Управление производством, Взаимодействие с ко...

                                             keySkills_str  distances
10       Деловое общение Организаторские навыки Руковод...   0.000000
1201070  Обучение персонала Управление затратами Формир...   0.277254
169828   Обучение персонала Управление затратами Формир...   0.277254
143654   Обучение персонала Управление затратами Формир...   0.277254
1040640  Управление производством Обучение персонала Бе...   0.311978
1049439  Организаторские навыки Руководство коллективом...   0.316508
105105   Управление производством Взаимодействие с конт...   0.319991
389986   Управление производством Взаимодействие с конт...   0.319991
581888   Управление производством Взаимодействие с конт...   0.319991
1075032  Управление производством Взаимодействие с конт...   0.319991

In [68]:
indices[0]

array([     10, 1201070,  169828,  143654, 1040640, 1049439,  105105,
        389986,  581888, 1075032])

In [69]:
distances[0]

array([0.        , 0.27725372, 0.27725372, 0.27725372, 0.31197828,
       0.31650754, 0.31999055, 0.31999055, 0.31999055, 0.31999055])

In [70]:
data.to_csv('vacancies_ru_skills.csv', index=False)

## Fill keySkills if empty

In [125]:
df.shape

(1195313, 20)

In [124]:
empty_skills.head()

,vacancy_id,name,company_id,keySkills,compensation_from,compensation_to,compensation_currencyCode,area_id,area_regionId,employment,workSchedule,workExperience,clean_name,area_regionId_encoder,area_id_encoder,company_id_encoder,employment_encoder,workSchedule_encoder,workExperience_encoder
2,v_1840054,Бухгалтер (по расчету зарплаты),c_198109,NaN,50000.0,65000.0,RUR,a_6223,ar_78,full,fullDay,between3And6,Бухгалтер,81,5806,109013,5,5,3
3,v_2346232,"Пекарь (Токсово, Привокзальная, 16)",c_6137,NaN,38500.0,42000.0,RUR,a_4795,ar_51,full,fullDay,noExperience,Пекарь,52,4218,235992,5,5,1
7,v_2091086,Монтажник СТиЖБК,c_230890,NaN,100000.0,NaN,RUR,a_500,ar_36,full,flyInFlyOut,between1And3,Монтажник СТиЖБК,35,4447,145437,5,1,2
14,v_902490,Обходчик/Обходчица (подземных газопроводов),c_101758,NaN,36000.0,NaN,RUR,a_3988,ar_64,full,fullDay,noExperience,Обходчик,66,3321,1957,5,5,1
15,v_2346650,Велокурьер на электровелосипеде компании (ст.м...,c_124592,NaN,60000.0,NaN,RUR,a_6223,ar_78,full,fullDay,noExperience,Велокурьер на электровелосипеде компании,81,5806,27328,5,5,1

In [127]:
vectorizer = TfidfVectorizer()
X = vectorizer.fit_transform(df['name'])

k = 1
knn_model = NearestNeighbors(n_neighbors=k, metric='cosine')
knn_model.fit(X)

NearestNeighbors(metric='cosine', n_neighbors=1)

In [134]:
df.iloc[187421]

vacancy_id                                                           v_1360606
name                                             Бухгалтер по расчету зарплаты
company_id                                                            c_245784
keySkills                    ['Расчет заработной платы', 'Начисление ежегод...
compensation_from                                                      50000.0
compensation_to                                                            NaN
compensation_currencyCode                                                  RUR
area_id                                                                 a_4476
area_regionId                                                            ar_52
employment                                                                full
workSchedule                                                           fullDay
workExperience                                                    between3And6
clean_name                                       Бухгалтер по расчету зарплаты
area_regionId_encoder                                                       53
area_id_encoder                                                           3864
company_id_encoder                                                      161985
employment_encoder                                                           5
workSchedule_encoder                                                         5
workExperience_encoder                                                       3
keySkills_str                Расчет заработной платы Начисление ежегодных о...
Name: 189505, dtype: object

In [116]:
for index, row in empty_skills.iterrows():
    try:
        name_vector = vectorizer.transform([row['name']])

        distance, nearest_index = knn_model.kneighbors(name_vector)
        empty_skills.at[index, 'keySkills'] = df.at[nearest_index[0][0], 'keySkills']
    except Exception as e:
        print(f"Error occurred at index {index}: {e}")

NameError: name 'empty_skills' is not defined

In [143]:
i

122

In [178]:
row = empty_skills.iloc[666]
row

vacancy_id                                       v_1777851
name                         Директор ресторана Додо Пицца
company_id                                        c_180887
keySkills                                              NaN
compensation_from                                  80000.0
compensation_to                                        NaN
compensation_currencyCode                              RUR
area_id                                             a_1756
area_regionId                                        ar_41
employment                                            full
workSchedule                                       fullDay
workExperience                                between1And3
clean_name                   Директор ресторана Додо Пицца
area_regionId_encoder                                   41
area_id_encoder                                        842
company_id_encoder                                   89877
employment_encoder                                       5
workSchedule_encoder                                     5
workExperience_encoder                                   2
Name: 1461, dtype: object

In [179]:
row['name']

'Директор ресторана Додо Пицца'

In [180]:
name_vector = vectorizer.transform([row['name']])
    
distance, nearest_index = knn_model.kneighbors(name_vector)
print(distance)
print(nearest_index)
empty_skills.at[index, 'keySkills'] = df.at[nearest_index[0][0], 'keySkills']

[[0.]]
[[18908]]

In [181]:
empty_skills.at[index, 'keySkills']

"['Знание устройства автомобиля']"

In [183]:
df.at[nearest_index[0][0], 'name']

'Водитель-курьер на личном а/м'

## Predict using KeySkills

In [104]:
df = pd.read_csv('vacancies_ru_skills.csv')
df.head()

,vacancy_id,name,company_id,keySkills,compensation_from,compensation_to,compensation_currencyCode,area_id,area_regionId,employment,workSchedule,workExperience,clean_name,area_regionId_encoder,area_id_encoder,company_id_encoder,employment_encoder,workSchedule_encoder,workExperience_encoder,keySkills_str
0,v_862116,Смотритель музейный,c_162972,"['Уверенный пользователь пк', 'Работа в команд...",16500.0,NaN,RUR,a_4761,ar_33,full,fullDay,noExperience,Смотритель музейный,32,4181,69972,5,5,1,Уверенный пользователь пк Работа в команде Уме...
1,v_288642,Ведущий менеджер по работе с физическими лицами,c_208672,"['Активные продажи', 'Холодные продажи', 'Кред...",50000.0,NaN,RUR,a_744,ar_2,full,fullDay,noExperience,Ведущий менеджер по работе с физическими лицами,17,6731,120750,5,5,1,Активные продажи Холодные продажи Кредитные до...
2,v_312507,Торговый представитель (г. Абакан),c_206699,"['Продуктивность', 'Клиентоориентированность',...",60000.0,NaN,RUR,a_6837,ar_4,full,fullDay,between1And3,Торговый представитель,39,6487,118557,5,5,2,Продуктивность Клиентоориентированность Работа...
3,v_2323706,Менеджер по качеству,c_244141,"['Контроль качества', 'Производственный контро...",88000.0,NaN,RUR,a_5920,ar_64,full,fullDay,between1And3,Менеджер по качеству,66,5469,160161,5,5,2,Контроль качества Производственный контроль На...
4,v_704266,Менеджер по продажам / Sales manager,c_192038,"['Активные продажи', 'Поиск и привлечение клие...",30000.0,100000.0,RUR,a_5398,ar_71,full,fullDay,between1And3,Менеджер по продажам,74,4888,102268,5,5,2,Активные продажи Поиск и привлечение клиентов ...

In [105]:
df.dropna(subset=['keySkills_str'], inplace=True)

In [106]:
vectorizer = TfidfVectorizer()
X = vectorizer.fit_transform(df['keySkills_str'])

k = 5
knn_model = NearestNeighbors(n_neighbors=k, metric='cosine')
knn_model.fit(X)

NearestNeighbors(metric='cosine')

In [7]:
train = pd.read_csv('../data/data.csv')
train.drop('Unnamed: 0', axis=1, inplace=True)
train

,user_id,session_id,vacancy_id,action_type,action_dt,clear_vacancy_id
0,u_482520,s_25018731,"['v_2597196', 'v_1223061', 'v_1223061']","[2, 2, 1]","[1700395393089, 1700395410396, 1700395503473]","['v_2597196', 'v_1223061', 'v_1223061']"
1,u_212584,s_16918781,"['v_1572055', 'v_1572055', 'v_1572055', 'v_953...","[2, 3, 2, 2, 1, 2, 2, 1, 2, 1, 2, 1]","[1700124107031, 1700124321403, 1700124426230, ...","['v_1572055', 'v_1572055', 'v_1572055', 'v_953..."
2,u_425177,s_17505104,"['v_1375331', 'v_1922852']","[2, 2]","[1700224938513, 1700225032744]","['v_1375331', 'v_1922852']"
3,u_700997,s_15528830,"['v_2152997', 'v_2152997', 'v_1217630']","[2, 1, 2]","[1700155373530, 1700155399885, 1700155413472]","['v_2152997', 'v_2152997', 'v_1217630']"
4,u_186164,s_34273595,"['v_2674644', 'v_2558182']","[2, 2]","[1700483122760, 1700483363810]","['v_2674644', 'v_2558182']"
...,...,...,...,...,...,...
38574,u_499368,s_19158589,"['v_1716634', 'v_2232327', 'v_2232327', 'v_223...","[2, 2, 1, 2, 2, 2, 1, 2, 2, 2, 2, 2, 2]","[1700277315530, 1700277560971, 1700277709953, ...","['v_1716634', 'v_2232327', 'v_2232327', 'v_223..."
38575,u_1084868,s_24756162,"['v_395706', 'v_2405231']","[2, 2]","[1700071576550, 1700071638447]","['v_395706', 'v_2405231']"
38576,u_1138032,s_25291467,"['v_1213925', 'v_1213925', 'v_2359832', 'v_235...","[2, 1, 2, 1]","[1700435984092, 1700436442739, 1700436449962, ...","['v_1213925', 'v_1213925', 'v_2359832', 'v_235..."
38577,u_608102,s_18813020,"['v_933773', 'v_933773', 'v_2021127', 'v_15085...","[3, 2, 2, 2, 2, 1, 2]","[1700149209408, 1700149209448, 1700149398125, ...","['v_933773', 'v_933773', 'v_2021127', 'v_15085..."
38578,u_847738,s_7662913,"['v_875568', 'v_2677852', 'v_1562269', 'v_2548...","[2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 1, 2, 2, 2]","[1700228043386, 1700228097675, 1700228505457, ...","['v_875568', 'v_2677852', 'v_1562269', 'v_2548..."

In [47]:
df[df['vacancy_id'] == 'v_2597196']

,vacancy_id,name,company_id,keySkills,compensation_from,compensation_to,compensation_currencyCode,area_id,area_regionId,employment,workSchedule,workExperience,clean_name,area_regionId_encoder,area_id_encoder,company_id_encoder,employment_encoder,workSchedule_encoder,workExperience_encoder,keySkills_str
663817,v_2597196,Главный специалист по охране труда и пожарной ...,c_222826,"['Пожарная безопасность', 'Умение работать в к...",150000.0,150000.0,RUR,a_1756,ar_41,full,fullDay,between3And6,Главный специалист по охране труда и пожарной ...,41,842,136477,5,5,3,Пожарная безопасность Умение работать в коллек...

In [35]:
train['clear_vacancy_id'][0]

"['v_2597196', 'v_1223061', 'v_1223061']"

In [37]:
import ast

train['clear_vacancy_id_update'] = train['clear_vacancy_id'].apply(lambda x: ast.literal_eval(x))
train['clear_vacancy_id_update'] = train['clear_vacancy_id_update'].apply(lambda x: [id.strip(" '[]") for id in x])

In [101]:
train

,user_id,session_id,vacancy_id,action_type,action_dt,clear_vacancy_id,clear_vacancy_id_update,action_type_update,vacancy_id_like_response
0,u_482520,s_25018731,"['v_2597196', 'v_1223061', 'v_1223061']","[2, 2, 1]","[1700395393089, 1700395410396, 1700395503473]","['v_2597196', 'v_1223061', 'v_1223061']","[v_2597196, v_1223061, v_1223061]","[2, 2, 1]",[v_1223061]
1,u_212584,s_16918781,"['v_1572055', 'v_1572055', 'v_1572055', 'v_953...","[2, 3, 2, 2, 1, 2, 2, 1, 2, 1, 2, 1]","[1700124107031, 1700124321403, 1700124426230, ...","['v_1572055', 'v_1572055', 'v_1572055', 'v_953...","[v_1572055, v_1572055, v_1572055, v_953153, v_...","[2, 3, 2, 2, 1, 2, 2, 1, 2, 1, 2, 1]","[v_1572055, v_953153, v_1033603, v_1592343, v_..."
2,u_425177,s_17505104,"['v_1375331', 'v_1922852']","[2, 2]","[1700224938513, 1700225032744]","['v_1375331', 'v_1922852']","[v_1375331, v_1922852]","[2, 2]",[]
3,u_700997,s_15528830,"['v_2152997', 'v_2152997', 'v_1217630']","[2, 1, 2]","[1700155373530, 1700155399885, 1700155413472]","['v_2152997', 'v_2152997', 'v_1217630']","[v_2152997, v_2152997, v_1217630]","[2, 1, 2]",[v_2152997]
4,u_186164,s_34273595,"['v_2674644', 'v_2558182']","[2, 2]","[1700483122760, 1700483363810]","['v_2674644', 'v_2558182']","[v_2674644, v_2558182]","[2, 2]",[]
...,...,...,...,...,...,...,...,...,...
38574,u_499368,s_19158589,"['v_1716634', 'v_2232327', 'v_2232327', 'v_223...","[2, 2, 1, 2, 2, 2, 1, 2, 2, 2, 2, 2, 2]","[1700277315530, 1700277560971, 1700277709953, ...","['v_1716634', 'v_2232327', 'v_2232327', 'v_223...","[v_1716634, v_2232327, v_2232327, v_2232327, v...","[2, 2, 1, 2, 2, 2, 1, 2, 2, 2, 2, 2, 2]","[v_2232327, v_2706364]"
38575,u_1084868,s_24756162,"['v_395706', 'v_2405231']","[2, 2]","[1700071576550, 1700071638447]","['v_395706', 'v_2405231']","[v_395706, v_2405231]","[2, 2]",[]
38576,u_1138032,s_25291467,"['v_1213925', 'v_1213925', 'v_2359832', 'v_235...","[2, 1, 2, 1]","[1700435984092, 1700436442739, 1700436449962, ...","['v_1213925', 'v_1213925', 'v_2359832', 'v_235...","[v_1213925, v_1213925, v_2359832, v_2359832]","[2, 1, 2, 1]","[v_1213925, v_2359832]"
38577,u_608102,s_18813020,"['v_933773', 'v_933773', 'v_2021127', 'v_15085...","[3, 2, 2, 2, 2, 1, 2]","[1700149209408, 1700149209448, 1700149398125, ...","['v_933773', 'v_933773', 'v_2021127', 'v_15085...","[v_933773, v_933773, v_2021127, v_1508520, v_2...","[3, 2, 2, 2, 2, 1, 2]","[v_933773, v_2021127]"
38578,u_847738,s_7662913,"['v_875568', 'v_2677852', 'v_1562269', 'v_2548...","[2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 1, 2, 2, 2]","[1700228043386, 1700228097675, 1700228505457, ...","['v_875568', 'v_2677852', 'v_1562269', 'v_2548...","[v_875568, v_2677852, v_1562269, v_2548403, v_...","[2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 1, 2, 2, 2]",[v_1302840]

In [76]:
train['action_type_update'].explode().unique()
# 1 - отклик, 2 - просмотр (открытие страницы вакансии), 3 - добавление вакансии в избранное

array([2, 1, 3], dtype=object)

In [93]:
train['vacancy_id_like_response'] = [
    [vacancy_id for vacancy_id, action_type in zip(vacancy_ids, action_types) if action_type in [1, 3]]
    for vacancy_ids, action_types in zip(train['clear_vacancy_id_update'], train['action_type_update'])
]

In [94]:
train.loc[11, 'vacancy_id']

"['v_2676265', 'v_1579567', 'v_1579567', 'v_381847', 'v_2603095', 'v_2603095', 'v_2603095', 'v_2210018', 'v_2210018', 'v_125978', 'v_125978', 'v_381847', 'v_1579567']"

In [97]:
train.iloc[11]

user_id                                                              u_458095
session_id                                                         s_15971126
vacancy_id                  ['v_2676265', 'v_1579567', 'v_1579567', 'v_381...
action_type                           [2, 2, 1, 2, 2, 1, 3, 2, 1, 2, 1, 2, 2]
action_dt                   [1700070707574, 1700071122116, 1700071141505, ...
clear_vacancy_id            ['v_2676265', 'v_1579567', 'v_1579567', 'v_381...
clear_vacancy_id_update     [v_2676265, v_1579567, v_1579567, v_381847, v_...
action_type_update                    [2, 2, 1, 2, 2, 1, 3, 2, 1, 2, 1, 2, 2]
vacancy_id_like_response    [v_1579567, v_2603095, v_2603095, v_2210018, v...
Name: 11, dtype: object

In [100]:
# filter only last session for unique user
len(train['user_id'].unique())

38579

In [61]:
# predict for all actions
user_preds = {}

for user_id in train['user_id'].unique()[:1000]:
    user_data = train[train['user_id'] == user_id]
    user_preds[user_id] = {}
    
    for vacancy_id in user_data['clear_vacancy_id_update']:
        for vacancy_id in vacancy_id:
            if vacancy_id in df['vacancy_id'].values:
                query = vectorizer.transform(df[df['vacancy_id'] == vacancy_id]['keySkills_str'])
                distances, indices = knn_model.kneighbors(query)
                user_preds[user_id][vacancy_id] = df.iloc[indices[0]].to_dict(orient='records')
        else:
            if vacancy_id in df['vacancy_id'].values:
                query = vectorizer.transform(df[df['vacancy_id'] == vacancy_id]['keySkills_str'])
                distances, indices = knn_model.kneighbors(query)
                user_preds[user_id][vacancy_id] = df.iloc[indices[0]].to_dict(orient='records')

KeyboardInterrupt:

In [53]:
df[df['vacancy_id'] == 'v_1975285']

,vacancy_id,name,company_id,keySkills,compensation_from,compensation_to,compensation_currencyCode,area_id,area_regionId,employment,workSchedule,workExperience,clean_name,area_regionId_encoder,area_id_encoder,company_id_encoder,employment_encoder,workSchedule_encoder,workExperience_encoder,keySkills_str
975610,v_1975285,Кондитер,c_38937,"['Работа в команде', 'Умение находить общий яз...",40000.0,45000.0,RUR,a_5618,ar_72,full,fullDay,between1And3,Кондитер,75,5133,211066,5,5,2,Работа в команде Умение находить общий язык Же...

In [120]:
for key, value in islice(user_preds.items(), 1):
    print(key, value)

u_482520 {'v_2597196': [{'vacancy_id': 'v_2725221', 'name': 'Пожарный пожарного поезда, г. Артемовский', 'company_id': 'c_48425', 'keySkills': "['Пожарная безопасность', 'Умение работать в коллективе']", 'compensation_from': 24000.0, 'compensation_to': 26000.0, 'compensation_currencyCode': 'RUR', 'area_id': 'a_4836', 'area_regionId': 'ar_44', 'employment': 'full', 'workSchedule': 'shift', 'workExperience': 'noExperience', 'clean_name': 'Пожарный пожарного поезда, г. Артемовский', 'area_regionId_encoder': 44, 'area_id_encoder': 4264, 'company_id_encoder': 221609, 'employment_encoder': 5, 'workSchedule_encoder': 4, 'workExperience_encoder': 1, 'keySkills_str': 'Пожарная безопасность Умение работать в коллективе'}, {'vacancy_id': 'v_1999729', 'name': 'Слесарь механосборочных работ', 'company_id': 'c_91699', 'keySkills': "['Умение работать в коллективе', 'Пожарная безопасность']", 'compensation_from': 65000.0, 'compensation_to': nan, 'compensation_currencyCode': 'RUR', 'area_id': 'a_1639', 'area_regionId': 'ar_64', 'employment': 'full', 'workSchedule': 'fullDay', 'workExperience': 'between1And3', 'clean_name': 'Слесарь механосборочных работ', 'area_regionId_encoder': 66, 'area_id_encoder': 712, 'company_id_encoder': 269690, 'employment_encoder': 5, 'workSchedule_encoder': 5, 'workExperience_encoder': 2, 'keySkills_str': 'Умение работать в коллективе Пожарная безопасность'}, {'vacancy_id': 'v_1279213', 'name': 'Дознаватель', 'company_id': 'c_260470', 'keySkills': "['Пожарная безопасность', 'Умение работать в коллективе']", 'compensation_from': 35000.0, 'compensation_to': 45000.0, 'compensation_currencyCode': 'RUR', 'area_id': 'a_6157', 'area_regionId': 'ar_7', 'employment': 'full', 'workSchedule': 'fullDay', 'workExperience': 'noExperience', 'clean_name': 'Дознаватель', 'area_regionId_encoder': 72, 'area_id_encoder': 5732, 'company_id_encoder': 178304, 'employment_encoder': 5, 'workSchedule_encoder': 5, 'workExperience_encoder': 1, 'keySkills_str': 'Пожарная безопасность Умение работать в коллективе'}, {'vacancy_id': 'v_1102723', 'name': 'Ведущий специалист по противопожарной профилактике', 'company_id': 'c_239120', 'keySkills': "['Пожарная безопасность', 'Умение работать в коллективе']", 'compensation_from': 42000.0, 'compensation_to': 50000.0, 'compensation_currencyCode': 'RUR', 'area_id': 'a_1969', 'area_regionId': 'ar_61', 'employment': 'full', 'workSchedule': 'fullDay', 'workExperience': 'moreThan6', 'clean_name': 'Ведущий специалист по противопожарной профилактике', 'area_regionId_encoder': 63, 'area_id_encoder': 1078, 'company_id_encoder': 154582, 'employment_encoder': 5, 'workSchedule_encoder': 5, 'workExperience_encoder': 4, 'keySkills_str': 'Пожарная безопасность Умение работать в коллективе'}, {'vacancy_id': 'v_1613479', 'name': 'Дознаватель', 'company_id': 'c_260470', 'keySkills': "['Пожарная безопасность', 'Умение работать в коллективе']", 'compensation_from': 35000.0, 'compensation_to': 45000.0, 'compensation_currencyCode': 'RUR', 'area_id': 'a_3728', 'area_regionId': 'ar_7', 'employment': 'full', 'workSchedule': 'fullDay', 'workExperience': 'noExperience', 'clean_name': 'Дознаватель', 'area_regionId_encoder': 72, 'area_id_encoder': 3033, 'company_id_encoder': 178304, 'employment_encoder': 5, 'workSchedule_encoder': 5, 'workExperience_encoder': 1, 'keySkills_str': 'Пожарная безопасность Умение работать в коллективе'}]}

In [115]:
# predict for like & response

user_preds_like_response = {}
i = 0

for user_id in train['user_id'].unique():
    i += 1
    if i % 500 == 0:
        print(i)
    user_data = train[train['user_id'] == user_id]
    user_preds_like_response[user_id] = {}
    
    for vacancy_id in user_data['vacancy_id_like_response']:
        for vacancy_id in vacancy_id:
            if vacancy_id in df['vacancy_id'].values:
                query = vectorizer.transform(df[df['vacancy_id'] == vacancy_id]['keySkills_str'])
                distances, indices = knn_model.kneighbors(query)
                user_preds_like_response[user_id][vacancy_id] = df.iloc[indices[0]].to_dict(orient='records')
        else:
            if vacancy_id in df['vacancy_id'].values:
                query = vectorizer.transform(df[df['vacancy_id'] == vacancy_id]['keySkills_str'])
                distances, indices = knn_model.kneighbors(query)
                user_preds_like_response[user_id][vacancy_id] = df.iloc[indices[0]].to_dict(orient='records')

/var/folders/35/_fnsgly951b8wkst1vg_3lj40000gn/T/ipykernel_99923/2387447424.py:20: DeprecationWarning: elementwise comparison failed; this will raise an error in the future.
  if vacancy_id in df['vacancy_id'].values:

KeyboardInterrupt:

In [111]:
len(user_preds_like_response.keys())

1506

In [60]:
import json
path = 'skills_train_preds_knn.json'

with open(path, 'w') as file:
    json.dump(user_preds, file, indent=4)

In [68]:
train['action_type_update'] = train['action_type'].apply(lambda x: [int(i) for i in x.strip("[]").split(",")])

In [71]:
type(train['action_t ype_update'][0][0])

int

In [ ]:
# дропнула из вакансий персонажей, у которых в keySkills стояло NaN